@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
}

.sceneContent {
  padding-top: 200px;
  padding-bottom: 350px;
  @media (max-width: 768px) {
    padding-top: 150px;
    padding-bottom: 300px;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
    padding-bottom: 250px;
  }

  h1 {
    @include headline_first;
  }

  .sceneList {
    padding-top: 100px;

    @media (max-width: 500px) {
      padding-top: 60px;

      .sceneSlider {
        margin-bottom: 60px;
      }
    }

    .sceneBlock {
      h2 {
        @include headline_second;
        margin-bottom: 100px;

        &.sceneLunaSmall {
          margin-bottom: 60px;
        }

        @media (max-width: 500px) {
          margin-bottom: 40px;

          &.sceneLunaSmall {
            margin-bottom: 40px;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 200px;

        @media (max-width: 500px) {
          margin-bottom: 100px;
        }
      }
    }

    .sceneSlider {
      margin-bottom: 40px;

      @media (max-width: 500px) {
        margin-bottom: 45px;
      }
    }

    .sceneScheme {
      p:not(:last-child) {
        margin-bottom: 20px;

        @media (max-width: 500px) {
          margin-bottom: 15px;
        }
      }

      a {
        border-bottom: 1px solid $text-color;

        font-weight: 400;
        font-size: 14px;
        font-size: 0.875em;
        line-height: 160%;
        text-transform: uppercase;
        color: $text-color;

        @media (max-width: 500px) {
          font-size: 12px;
          font-size: 0.75em;
        }
      }
    }
  }
}
