.sliderLink {
  display: block;
  overflow: hidden;
}

.sliderImg {
  object-fit: cover;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.sliderNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  img {
    max-width: 60px;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    display: none;
  }
}
