.cardImg {
  // specified padding for correct image aspect ratio
  position: relative;
  padding-bottom: 74%;
  height: 0;
  overflow: hidden;

  .sliderLink {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sliderImg {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.sliderNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  img {
    max-width: 60px;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.slidePhoto .smallPhoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 16px;
}
