@import '../../../assets/main.scss';

.posterContent {
  color: $text-color;
  border-bottom: 1.5px solid $text-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;

  &:first-child {
    border-top: 1.5px solid $text-color;
  }

  .posterContent_el_content {
    display: flex;
    height: 100%;
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 60px;

    @media (max-width: 1000px) {
      padding-left: 20px;
    }

    @media (max-width: 770px) {
      padding-left: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      align-items: stretch;
    }
  }
  .posterContent_el_content_2 {
    display: flex;
    align-items: center;

    @media (max-width: 770px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 18px;

    @media (max-width: 770px) {
      order: 1;
    }
  }
  .posterDay {
    font-size: 44px;
    font-weight: 300;
    text-align: left;

    @media (max-width: 1200px) {
      font-size: 32px;
    }

    @media (max-width: 770px) {
      grid-row: span 2;
    }
  }
  .posterTime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    @media (max-width: 1200px) {
      font-size: 11px;
    }

    @media (max-width: 770px) {
      flex-direction: row;
      order: 2;

      p:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .posterMonth {
    font-size: 16px;
    font-weight: 500;
    grid-column: span 2;

    @media (max-width: 770px) {
      grid-column: span 1;
    }
  }
  .name {
    display: flex;
    align-items: baseline;
    margin-left: 170px;
    position: relative;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;

    @media (max-width: 1200px) {
      margin-left: 50px;
    }

    @media (max-width: 1000px) {
      margin-left: 30px;
    }

    @media (max-width: 770px) {
      margin-left: 0;
      flex-direction: column;
      margin-bottom: 30px;
    }

    .posterDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 770px) {
        align-items: flex-start;
        margin-bottom: 15px;
      }
    }

    .title {
      font-size: 24px;
      font-weight: 500;
      line-height: 160%;
      margin-bottom: 15px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }

      @media (max-width: 1000px) {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }

    .premier {
      margin-left: 50px;
      color: #fae88c;

      @media (max-width: 991px) {
        margin-left: 30px;
      }

      @media (max-width: 770px) {
        margin-left: 0;
        font-size: 12px;
      }
    }
  }
  .place {
    font-size: 16px;
    font-weight: 400;

    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }

  .restrictionBlock {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    align-items: center;

    @media (max-width: 770px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: end;
      min-width: auto;
    }
  }
  .rating {
    font-size: 24px;
    margin-right: 30px;

    @media (max-width: 770px) {
      text-align: right;
      margin-right: 0;
      font-size: 16px;
    }
  }
  .buy {
    display: block;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;

    min-width: 235px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 50px;
    border: 1px solid $compl-color;
    color: #8cabfa;

    &:hover {
      border-width: 2px;
    }

    @media (max-width: 770px) {
      margin-top: auto;
      min-width: 140px;
      font-size: 12px;
      padding: 12px 20px;
    }
  }
}
