@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}
.pressContentActor {
  padding-bottom: 80px !important;
}
.pressContent {
  padding-bottom: 180px;

  @media (max-width: 500px) {
    padding-bottom: 100px;
  }

  h2 {
    @include headline_second;
  }

  .pressGridActor {
    grid-template-columns: none !important;
    grid-template-rows: none !important;
  }

  .pressSlider {
    padding-top: 50px;
  }
}
