@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;

  .sceneContent {
    //padding-top needed for correct funct 'ScrollIntoView'
    padding-top: 120px;
    padding-bottom: 130px;

    @media (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 100px;
    }

    @media (max-width: 500px) {
      padding-bottom: 80px;
    }

    h2 {
      @include headline_second;
    }
  }

  .sceneSlider {
    padding-top: 50px;
  }

  .sceneGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 100px;
    padding-top: 100px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
