@import '../../../assets/main.scss';
.cardContent {
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
    cursor: default;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .cardImg {
    position: relative;
    padding-bottom: 118.75%;
    height: 0;
    overflow: hidden;

    .imageLink {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 10%;
      backface-visibility: hidden;
      transition: transform 0.7s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .actorCardText {
    font-size: 16px;
    color: $text-color;

    padding-top: 30px;

    @media (max-width: 500px) {
      font-size: 12px;
      padding-top: 15px;
    }

    .actorName {
      text-transform: uppercase;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: $text-color;
      }
    }

    .actorRole {
      margin-top: 15px;

      @media (max-width: 500px) {
        margin-top: 10px;
      }
    }
  }
}
