@import "../../utils/mixins.scss";
@import "../../utils/fonts.scss";
@import "../../utils/variables.scss";

.wrapper {
  @include container;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $text-color;
  background-color: $bg-color;

  .sceneContent {
    padding-top: 15.7rem;

    @media (max-width: 991px) {
      padding-top: 8rem;
    }
    @media (max-width: 500px) {
      padding-top: 80px;
    }
  }

  .sceneTitle h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 500px) {
      font-size: 22px;
    }
  }

}
