@import "../../utils/mixins.scss";
@import "../../utils/fonts.scss";
@import "../../utils/variables.scss";

.wrapper {
  @include container;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $text-color;
  background-color: $bg-color;

  .recordingContent {
    //padding-top needed for correct funct 'ScrollIntoView'
    padding-top: 120px;
    padding-bottom: 130px;

    @media (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 100px;
    }

    @media (max-width: 500px) {
      padding-bottom: 80px;
    }
  }

  .recordingTitle h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 500px) {
      font-size: 22px;
    }
  }

  .recordingBlock {
    padding-top: 50px;

    p {
      font-size: 16px;
      line-height: 164%;
      margin-bottom: 5px;
    }

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $text-color;
    }

    .marginParagraph {
      margin-bottom: 2rem;
    }


    .watsapp {
      margin-left: 15px;
    }
  }
}
