.boxTheatricalPerformance {
  .theatricalPerformanceTitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 200px 0px 80px 0px;
  }
  .performance {
    .contentPerformanceStart {
      border-top: 1px solid #ffffff;
    }
    .contentPerformance {
      display: flex;
      justify-content: space-between;
      padding: 60px 0px;
      border-bottom: 1px solid #ffffff;
      .contentPerformanceInfo {
        display: flex;
        flex-wrap: wrap;
        gap: 116px;
      }
      .boxPerformanceDate {
        display: flex;
        align-items: center;
        gap: 18px;
        .dateDay {
          font-weight: 300;
          font-size: 44px;
          line-height: 54px;
        }
        .dateMonth {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
        .time {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    .performanceInfo {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .performanceName {
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
      }
      .performanceScene {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
    }
    .performanceBoxButton {
      display: flex;
      flex-wrap: wrap;
      gap: 38px;
      align-items: center;
      .performanceAgeLimit {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
      }
      .performanceButton {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #8cabfa;
        border: 1px solid #8cabfa;
        height: 45px;
        width: 219px;
        background: transparent;
        cursor: pointer;
        &:hover {
          background: #8cabfa;
          transition: all 0.3s;
          color: #ffffff;
        }
        &:active {
          background: transparent;
          border: 1px solid #ffffff;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 428px) {
  .boxTheatricalPerformance {
    .theatricalPerformanceTitle {
      font-weight: 600;
      font-size: 22px;
      line-height: 36px;
      margin: 100px 0px 40px 0px;
    }
    .performance {
      .contentPerformance {
        padding: 30px 0px;
        .contentPerformanceInfo {
          gap: 0px;
          flex-direction: column-reverse;
        }
        .boxPerformanceDate {
          display: flex;
          align-items: center;
          gap: 0px;
          .dateDay {
            font-weight: 300;
            font-size: 34px;
            line-height: 41px;
          }
          .dateMonth {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            margin-left: 18px;
          }
          .time {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            margin-left: 18px;
          }
        }
      }
      .performanceInfo {
        gap: 0px;
        .performanceName {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .performanceScene {
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 28px;
        }
      }
      .performanceBoxButton {
        gap: 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .performanceAgeLimit {
          font-size: 16px;
          line-height: 20px;
        }
        .performanceButton {
          font-size: 12px;
          line-height: 15px;
          height: 39px;
          width: 140px;
        }
      }
    }
  }
}
