@import '../../../assets/utils/mixins.scss';
@import '../../../assets/utils/fonts.scss';

.miniMewsEl {
  @include container;
  color: white;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: auto;
  padding: 0 !important;
}

.data {
  font-family: 'Montserrat';
  font-size: 16px;
  font-size: 1em;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #ababab;

  @media (max-width: 1200px) {
    font-size: 13px;
    font-size: 0.81em;
  }
}

.name {
  font-family: 'Montserrat';
  font-size: 16px;
  font-size: 1em;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    font-size: 13px;
    font-size: 0.81em;
  }
}
