@import '../../../assets/utils/mixins.scss';
@import '../../../assets/utils/fonts.scss';

@keyframes button {
  0% {
    border: 1px solid #8cabfa;
  }
  100% {
    border: 2px solid #7396ea;
  }
}

.mainBlockNewsConst {
  @include container;
  color: white;
}

.newsElHeader {
  display: flex;
  width: 100%;

  @media (max-width: 770px) {
    flex-direction: column;
  }

  .blockTageName {
    display: flex;
    flex-direction: column;
    max-width: 610px;

    .tageName {
      font-family: 'Montserrat';
      font-size: 30px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 160px;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        font-size: 23px;
        max-width: 400px;
        line-height: 32px;
      }

      @media (max-width: 1000px) {
        font-size: 22px;
        max-width: 350px;
        line-height: 32px;
      }
      @media (max-width: 770px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
    }

    .data {
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      color: #ababab;

      @media (max-width: 770px) {
        max-width: 350px;
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  .imgHeader {
    display: inline-block;
    overflow: hidden;
    max-width: 400px;
    height: 276px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 160px;

    @media (max-width: 770px) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
    }

    @media (max-width: 430px) {
      max-width: 100%;
      height: auto;
    }

    img {
      height: 276px;
      max-width: 400px;
      transition: 1s;
      display: block;
      object-fit: cover;

      @media (max-width: 430px) {
        max-width: 100%;
        height: auto;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.contentBlock {
  display: flex;
  margin-top: 200px;

  @media (max-width: 770px) {
    margin-top: 100px;
  }

  .textContent {
    width: 610px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 200px;

    a {
      color: rgb(163, 163, 163);

      &:active {
        color: rgb(255, 243, 243);
      }
    }

    @media (max-width: 1000px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 550px) {
      margin-bottom: 100px;
    }

    p {
      margin-top: 20px;
    }

    span {
      color: red;
    }
  }
}
.spectakles {
  // margin-top: 220px;

  @media (max-width: 550px) {
    margin-top: 120px;
  }

  h1 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 80px;
  }
}

.newsMiniBlock {
  width: 400px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    width: 200px;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  h2 {
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }
}

.newsMiniBlock_content {
  display: flex;
  flex-direction: column;
}

.share {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;

  @media (max-width: 770px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
  }
}

.blockForShare {
  display: flex;
  margin-top: 50px;

  .blockForShare_el {
    display: flex;
    width: 214px;
    height: 50px;
    border: 1px solid #8cabfa;

    @media (max-width: 770px) {
      margin: auto;
    }

    @media (max-width: 480px) {
      width: 170px;
      height: 50px;
    }

    &:first-child {
      margin-right: 30px;

      @media (max-width: 770px) {
        margin-right: auto;
      }
    }

    img {
      width: 26px;
      margin-left: 13%;

      @media (max-width: 480px) {
        width: 22px;
        margin-left: 12px;
      }
    }

    p {
      margin: auto 13%;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: #8cabfa;

      @media (max-width: 480px) {
        font-size: 15px;
        margin: auto 12px;
      }
    }

    &:hover {
      animation-duration: 0.2s;
      animation-name: button;
      border: 2px solid #7396ea;
    }
  }
}
.blockForShare_2 {
  display: flex;
  margin-top: 50px;
}

.share_2 {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 150px;

  @media (max-width: 770px) {
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 480px) {
    text-align: left;
    line-height: 35px;
  }
}

.blockForShare_el_but_mob {
  display: none;

  @media (max-width: 480px) {
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid #8cabfa;

    p {
      margin: auto;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: #8cabfa;
    }
  }
}

.blockForShare_el_inp {
  width: 380px;
  background-color: rgba(115, 151, 234, 0);
  outline: none;
  border: none;
  border-bottom: 1px solid #656565;
  margin-right: 50px;
  color: #656565;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  @media (max-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.blockForShare_el_but {
  display: flex;
  width: 214px;
  height: 50px;
  border: 1px solid #8cabfa;
  cursor: pointer;

  @media (max-width: 480px) {
    display: none;
  }

  p {
    margin: auto;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #8cabfa;
  }

  &:hover {
    animation-duration: 0.2s;
    animation-name: button;
    border: 2px solid #7396ea;
  }
}

.checkbox {
  display: none;
}

.label {
  color: rgba(0, 0, 0, 0);
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
  margin: auto 0;

  &::before {
    content: ' ';
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-image: initial;
    vertical-align: middle;
  }
}

.labelAct {
  color: rgb(255, 255, 255);
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
  margin: auto 0;

  &::before {
    content: ' ';
    color: rgb(247, 247, 247);
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #8cabfa;
    border: 1px solid #ffffff;
    border-image: initial;
    vertical-align: middle;
  }
}

.checkBlock {
  display: flex;
  height: 60px;

  @media (max-width: 480px) {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  p {
    margin: auto 0;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 18px;

    @media (max-width: 480px) {
      max-width: 300px;
    }
  }
}

.mainBlockNewsConstMGreat {
  padding-bottom: 350px;

  @media (max-width: 770px) {
    padding-bottom: 200px;
  }
}

.zagl {
  h1 {
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;
    text-align: center;
    margin: auto;
    height: 50px;
    margin-top: 20%;
    margin-bottom: 20%;

    @media (max-width: 1200px) {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 770px) {
      font-size: 16px;
      width: 70%;
    }
  }
}

.subsWarn {
  color: #ff0000ba;
  margin-top: 20px;
  font-family: 'Montserrat';
  font-size: 17px;
}

.subsWarnGood {
  color: #07fc6dba;
  margin-top: 20px;
  font-family: 'Montserrat';
  font-size: 17px;
}
