.boxTheaterRoles {
  margin-bottom: 200px;
  .theatricalRolesTitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 0px 0px 80px 0px;
  }
  .roleCards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .skeletonCards {
      width: 100%;
      display: flex;
    }
  }
  .roleCard {
    display: flex;
    flex-direction: column;
    flex: 0 1 30.7698%;
    margin-bottom: 131px;
    .roleCardImg {
      width: 100%;
      height: 289px;
      margin-bottom: 30px;
      object-fit: cover;
    }
    .roleCardHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .roleCardTitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-transform: uppercase;
      }
      .roleCardAge {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
      }
    }
    .roleCardRole {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 30px;
    }
    .roleCardButton {
      width: 169px;
      padding: 14px 0px;
      border: 1px solid #ffffff;
      cursor: pointer;
      background: transparent;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.pressContent {
  padding-bottom: 180px;

  @media (max-width: 500px) {
    padding-bottom: 100px;
  }

  .pressGrid {
    padding-top: 90px;

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
  }

  .pressSlider {
    padding-top: 50px;
  }

  .pressNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    img {
      max-width: 60px;
      cursor: pointer;
    }

    .pressFraction {
      font-size: 20px;

      span:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 428px) {
  .boxTheaterRoles {
    margin-bottom: 100px;
    .theatricalRolesTitle {
      font-size: 22px;
      line-height: 36px;
      margin: 100px 0px 50px 0px;
    }
    .roleCards {
    }
    .roleCard {
      display: flex;
      flex-direction: column;
      flex: 0 1 100%;
      margin-bottom: 10px;
      .roleCardImg {
        width: 100%;
        height: 203px;
        margin-bottom: 30px;
      }
      .roleCardHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .roleCardTitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
        }
        .roleCardAge {
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
        }
      }
      .roleCardRole {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 30px;
      }
      .roleCardButton {
        width: 140px;
        padding: 12px 0px;
        border: 1px solid #ffffff;
        cursor: pointer;
        background: transparent;
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
