@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

.actorsContent {
  padding-bottom: 200px;
  overflow: hidden;
  cursor: default;

  h2 {
    @include headline_second;
  }

  @media (max-width: 500px) {
    padding-bottom: 70px;
  }

  .actorsGrid {
    padding-top: 100px;

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 55px;

    @media (max-width: 500px) {
      overflow: scroll;
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
    }
  }

  .actorsGridTroupe {
    padding-top: 100px;

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 55px;

    @media (max-width: 500px) {
      overflow: scroll;
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
    }
    .actorsCard {
      max-width: 295px !important;
      @media (max-width: 500px) {
        min-width: 130px;
      }
    }
  }

  .actorsCard {
    max-width: 190px;
    @media (max-width: 500px) {
      min-width: 130px;
    }
  }
}
