@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
  background-color: $bg-color;

  .nextShowsContent {
    //padding-top needed for correct funct 'ScrollIntoView'
    padding-top: 120px;
    padding-bottom: 200px;

    @media (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 150px;
    }
    @media (max-width: 500px) {
      padding-bottom: 80px;
    }
  }

  .nextShowsTitle {
    h2 {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width: 991px) {
        font-size: 26px;
      }

      @media (max-width: 500px) {
        font-size: 22px;
      }
    }
  }

  .nextShowsArea {
    padding-top: 5.8rem;
    @media (max-width: 500px) {
      padding-top: 2.5rem;
    }

    .nextShowsLine {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 60px 0 60px 40px;
      color: $text-color;
      border-bottom: 1px solid $text-color;

      &:first-child {
        border-top: 1px solid $text-color;
      }

      .showsDate {
        width: 10%;
      }

      .showsinfo {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 30px;
        align-items: center;

        .showsTitle {
          max-width: 80%;
        }

        .title {
          margin-bottom: 16px;
          font-size: 24px;
          line-height: 160%;
          text-transform: uppercase;
        }
        .description {
          font-size: 16px;
        }
      }

      .raiting {
        font-size: 24px;
      }

      .showsTicket {
        display: block;
        padding: 15px 50px;
        border: 1px solid $compl-color;

        font-size: 16px;
        text-transform: uppercase;
        color: $compl-color;
      }
    }
  }
}
