@import '../../assets/main.scss';

.overlay {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
}

.popup {
  position: relative;
  width: 100%;
  padding: 18px;

  will-change: transform;
  transition: transform 0.7s ease-out;
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);

  @media (min-width: 576px) {
    max-width: 85%;
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
  }
}

.popupContent {
  position: relative;
  pointer-events: auto;

  padding: 25px 20px 38px;
  background: #20223d;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;

  @media (min-width: 768px) {
    min-width: 550px;
    min-height: 180px;
  }

  @media (max-width: 567px) {
    width: 100%;
    padding: 30px 20px 20px;
  }

  .close {
    text-align: end;

    span {
      &:hover {
        cursor: pointer;
      }
    }

    svg {
      fill: #fff;
    }
  }

  .content {
    padding: 20px 25px 0;

    @media (max-width: 567px) {
      padding: 20px 0 0;
    }
  }

  .noResult {
    font-size: 20px;
    padding: 10px 20px 40px;
  }

  .playsList {
    margin-bottom: 35px;
    padding-top: 30px;

    @media (max-width: 567px) {
      padding-top: 10px;
    }
  }

  .allDates {
    text-align: center;
    a {
      @include button_white;
      max-width: 250px;
      margin-right: auto;
      margin-left: auto;

      color: inherit;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
