@import '../../assets/main.scss';

.overlay {
  visibility: hidden;
  opacity: 0;

  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s;
  will-change: opacity;

  overflow-x: hidden;
  overflow-y: auto;
}

.popup {
  position: relative;
  width: auto;
  padding: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);

  @media (min-width: 576px) {
    max-width: 85%;
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
  }
}

.popupContent {
  position: relative;
  pointer-events: auto;

  padding: 40px 40px 60px;
  background: #20223d;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;

  @media (max-width: 567px) {
    width: 100%;
    padding: 30px 20px 40px;
  }

  .close {
    text-align: end;

    svg {
      fill: #fff;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .content {
    padding: 20px 25px 20px;

    @media (max-width: 567px) {
      padding: 20px 0 20px;
    }
  }

  .noResult {
    font-size: 20px;
  }

  .playsList {
    margin-bottom: 60px;
    padding-top: 45px;

    @media (max-width: 567px) {
      padding-top: 10px;
    }
  }

  .allDates {
    text-align: center;
    a {
      @include button_white;
      max-width: 250px;
      margin-right: auto;
      margin-left: auto;

      color: inherit;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
