.block1 {
  width: var(--op-width);
  margin: auto;

  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 40px;

  .group1 {
    height: 184px;
  }

  .item1 {
    a {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;

      color: #ffffff;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-style: medium;
      font-weight: 500;
      font-size: 36px;

      color: #ffffff;
    }
  }

  .item2 {
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin-top: 45px;

      color: white;
    }
  }

  .group2 {
    width: 400px;
    height: 184px;

    margin-left: 122px;

    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-wrap: wrap;

    img {
      margin-right: 10px;
      margin-top: 10px;
      height: 35px;
    }
  }

  .group3 {
    display: flex;
    justify-content: flex-end;
    height: 400px;
    position: absolute;
    top: 70%;
    right: 0;

    img {
      position: absolute;

      bottom: 80px;
    }
  }
}

