@import '../../../assets/main.scss';

.sortHeaderSection {
  padding-top: 200px;
  padding-bottom: 150px;
  @media (max-width: 800px) {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  @media (max-width: 500px) {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .closeCaledar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

.sortHeader {
  @include container;
  color: white;
  position: relative;

  h1 {
    @include headline_first;
  }
  .sortBlockMain {
    padding-top: 80px;
    display: flex;

    @media (max-width: 500px) {
      padding-top: 40px;
    }
  }
  .calendar {
    margin-right: 0;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    img {
      &:hover {
        filter: brightness(0) saturate(100%) invert(58%) sepia(87%)
          saturate(948%) hue-rotate(196deg) brightness(106%) contrast(96%);
      }
    }

    @media (max-width: 1200px) {
      margin-left: 0;
      margin-right: 20px;
    }
    @media (max-width: 770px) {
      margin-right: 0;
      position: absolute;
    }
  }
  .sort {
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
      order: 1;
    }
    @media (max-width: 770px) {
      margin: 0 auto;
      width: 100%;
    }
  }
  .moth {
    display: flex;

    @media (max-width: 1000px) {
      width: 450px;
      margin-left: 50px;
    }
  }

  .moth_el {
    height: 32px;
    margin-right: 60px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0px;
    padding-bottom: 0;
    border-bottom: 0.1px solid #ffffff00;
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: 13px;
      font-size: 0.81em;
      margin-right: 20px;
    }
    &:hover {
      color: #8cabfa;
      transition: all 0.2s;
      cursor: default;
    }
  }
  .moth_el_active {
    height: 32px;
    margin-right: 60px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0;
    padding-bottom: 0;
    // border-bottom: 0.1px solid #8cabfa;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    color: #8cabfa;
    cursor: default;
    text-transform: uppercase;
    text-underline-offset: 4px;

    @media (max-width: 1200px) {
      font-size: 13px;
      font-size: 0.81em;
      margin-right: 20px;
    }
    @media (max-width: 380px) {
      text-decoration: none;
    }
  }
  .sortBlock {
    @media (max-width: 770px) {
      width: 100%;
      overflow-x: auto;
      padding-bottom: 20px;
    }
    @media (max-width: 500px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .position {
    display: flex;
    margin-top: 30px;

    @media (max-width: 1000px) {
      width: 600px;
    }
  }
  .position_el {
    height: 32px;
    margin-right: 60px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0;
    padding-bottom: 0;
    border-bottom: 0.1px solid #ffffff00;
    transition: all 0.2s;
    &:hover {
      color: #8cabfa;
      cursor: default;
    }
    @media (max-width: 1200px) {
      font-size: 13px;
      font-size: 0.81em;
      margin-right: 20px;
    }
  }
  .position_el_active {
    height: 32px;
    margin-right: 60px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0;
    padding-bottom: 0;
    color: #8cabfa;
    // border-bottom: 0.1px solid #8cabfa;
    cursor: default;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;

    @media (max-width: 1200px) {
      font-size: 13px;
      font-size: 0.81em;
      margin-right: 20px;
    }
    @media (max-width: 380px) {
      text-decoration: none;
    }
  }
  .inputFilter {
    max-width: 460px;
    flex-basis: 100%;
    position: relative;
    margin-top: 80px;

    @media (max-width: 500px) {
      margin-top: 20px;
    }
  }
}

.calendarBodyNo {
  display: none;
}
.calendarComp {
  width: 410px;
  max-height: 460px;
  background: #08091d;
  position: absolute;
  right: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  z-index: 6;

  @media (max-width: 1200px) {
    right: 0%;
    left: 100%;
    z-index: 11;
  }

  @media (max-width: 500px) {
    width: 300px;
    padding: 20px;
    max-height: 400px;
  }

  P {
    margin: 10px;
    margin-top: 0;
    color: white;
    font-size: 16px;
    font-size: 1em;
    width: 23px;
    height: 23px;

    @media (max-width: 500px) {
      width: 16px;
      height: 16px;
      font-size: 16px;
      font-size: 1em;
    }
  }
}

.defaultCalendar {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  font-size: 0.95em;
  padding-top: 30px;

  &:hover {
    color: #8cabfa;
  }
}
.calendarItem {
  margin: 10px;
  color: white;
  font-size: 14px;
  font-size: 0.875em;
  width: 23px;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 1px;
  transition: all 0.2s;
  @media (max-width: 500px) {
    width: 17px;
    font-size: 13px;
    font-size: 0.81em;
  }

  &:hover {
    color: #8cabfa;
  }
}

.calendarBody {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.calendarItemAct {
  width: 23px;
  margin: 10px;
  color: white;
  font-size: 14px;
  font-size: 0.875em;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #8cabfa;
  color: black;
  padding: 1px;

  @media (max-width: 500px) {
    width: 17px;
    font-size: 13px;
    font-size: 0.81em;
  }
}

.calendar {
  margin-right: 0;
  margin-left: auto;
  position: relative;
  cursor: default;
  img {
    &:hover {
      filter: brightness(0) saturate(100%) invert(58%) sepia(87%) saturate(948%)
        hue-rotate(196deg) brightness(106%) contrast(96%);
    }
  }
}
