.actorInfo {
  display: flex;
  gap: 125px;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 120px;
  @media (max-width: 428px) {
    margin-bottom: 100px;
  }
  .actorNameMobile {
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 50px;
    display: none;
  }
  .actorPhoto {
    width: 100%;
    height: 100%;
    max-width: 505px;
    max-height: 672px;
    object-fit: cover;
  }

  .infoActor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

    .actorName {
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 30px;
    }
    .actorBody {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
    .actorRank {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
    }
    .actorCardRomashka {
      border: 1px solid #ffffff;
      padding: 40px 50px;
      margin-top: 60px;
      .cardRomashka {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .romashkaTitle {
          font-weight: 500;
          font-size: 16px;
          line-height: 25.6px;
          color: #8cabfa;
        }
        .romashkaContent {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .actorInfo {
    gap: 0px;
    .actorPhoto {
      width: 100%;
      height: 100%;
      max-height: 399px;
      margin-bottom: 100px;
      object-fit: cover;
    }

    .actorNameMobile {
      display: inline;
    }
    .infoActor {
      width: 100%;

      .actorName {
        display: none;
      }
      .actorBody {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
      }
      .actorRank {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
      }
      .actorCardRomashka {
        padding: 30px 26px;
        .cardRomashka {
          gap: 0px;
        }
        .romashkaTitle {
          font-weight: 500;
          font-size: 14px;
          line-height: 160%;
          color: #8cabfa;
        }
        .romashkaContent {
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          margin-top: 20px;
        }
      }
    }
  }
}
