.posterBlock {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #1c1c2e;
  padding: 0;
  box-shadow: 0px 15px 23px rgba(0, 0, 0, 0.14),
    0px 6px 29px rgba(0, 0, 0, 0.12), 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s ease-out;

  font-family: 'Montserrat', sans-serif;
  color: #fff;
  cursor: default;

  @media (min-width: 576px) {
    &:hover {
      box-shadow: 0px 0px 15px #beb8a2;
    }
  }

  .imgLink {
    flex: 1;
    overflow: hidden;
  }

  .cardImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.posterInfo {
  height: 45%;
  padding: 5px 25px 15px 20px;

  @media (max-width: 576px) {
    height: 200px;
    padding: 10px 20px 15px 20px;
  }

  .mainInfo {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .title {
      padding-top: 20px;
      padding-right: 15px;

      text-align: left;
      text-transform: uppercase;

      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;

      &:hover {
        color: #9fb2e6;
      }
    }

    .dateRatingContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;

      .date {
        color: #f7e99f;
        text-shadow: 0px 0px 4px black;
        position: relative;
        font-size: 30px;
        font-weight: 500;

        .moonPoster {
          position: absolute;
          right: -12px;
          bottom: -10px;
          width: 45px;
          height: auto;
        }
      }

      .rating {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  .buyTicket {
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .place {
      color: var(--text-color, #fff);
      width: 80px;
      width: min-content;

      text-align: left;

      font-size: 17px;
      line-height: 125%;
      font-weight: 300;
    }

    .buy {
      background-color: #6f1616;
      border: 0;
      padding: 10px 0;
      width: 50%;
      cursor: pointer;

      color: #bbbbbb;
      font-family: 'Montserrat';
      font-size: 19px;
      font-weight: 700;

      @media (max-width: 576px) {
        color: #ffffff;
      }
    }
  }
}
