/* padding for display box-shadow in items */
.posterSlider {
  padding: 1rem;
}
@media (max-width: 500px) {
  .posterSlider {
    padding: 0;
  }
  .posterSlider .swiper-slide {
    max-width: 300px;
  }
}
