@import '../../../assets/main.scss';

.lineContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  padding: 30px 40px;
  background-color: transparent;
  border: 1px solid $text-color;

  color: $text-color;

  @media (min-width: 500px) {
    &:hover {
      .arrow {
        transform: translateX(20px);
      }
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: stretch;
    padding: 25px;
  }

  .lineText {
    flex: 1;
    font-weight: 500;
    font-size: 16px;
    font-size: 1em;
    padding-right: 15px;

    @media (max-width: 500px) {
      padding-right: 0;
      margin-bottom: 70px;
      font-size: 14px;
      font-size: 0.875em;
    }
  }

  .titleCont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    @media (max-width: 500px) {
      justify-content: space-between;
    }
  }

  .publisher {
    color: $compl-color;
    margin-right: 30px;
    line-height: 150%;
  }

  .date {
    color: #c0c0c0;
  }

  .title {
    line-height: 160%;
  }

  .arrow {
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;

    @media (max-width: 500px) {
      justify-content: flex-start;
      align-items: baseline;
    }

    .arrowRead {
      font-size: 14px;
      font-size: 0.875em;
      margin-right: 25px;
      @media (min-width: 500px) {
        display: none;
      }
    }

    img {
      max-width: 44px;
      width: 100%;
      height: auto;
    }
  }
}
