@import "../../../assets/main.scss";

.wrapper {
  @include container;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}

.comingShowContent {
  padding-bottom: 200px;

  h2 {
    @include headline_second;
  }

  .comingShowsArea {
    padding-top: 80px;
  }

  .pushkinCard {
    padding-top: 80px;
    max-width: 740px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .pushkinCardImage {
      margin-right: 100px;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .pushkinCardText {
      font-size: 14px;
      line-height: 180%;
      text-transform: uppercase;
    }
  }
}

