@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

.comingShowContent {
  padding-top: 150px;
  padding-bottom: 200px;
  cursor: default;

  @media (max-width: 500px) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  h2 {
    @include headline_second;
  }

  .comingShowsArea {
    padding-top: 80px;

    @media (max-width: 500px) {
      padding-top: 60px;
    }
  }

  .pushkinCard {
    padding-top: 80px;
    max-width: 740px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    .pushkinCardImage {
      margin-right: 100px;

      @media (max-width: 500px) {
        margin-right: 20px;
        max-width: 80px;
      }
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .pushkinCardText {
      font-size: 14px;
      line-height: 180%;
      text-transform: uppercase;

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }
  }
}
