@import '../../../assets/main.scss';

.customCheckbox {
  .checkboxInput {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  label {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .checkbox {
    display: inline-block;
    height: 20px;
    max-width: 20px;
    width: 100%;
    background: transparent;
    border: 2px #fff solid;
    margin-right: 20px;
    transition: all 0.4s;

    &.checkboxActive {
      border-color: $compl-color;
      background: $compl-color;
    }
  }
}
