@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

h2 {
  @include headline_second;
}

.pressContent {
  padding-bottom: 200px;

  @media (max-width: 500px) {
    padding-bottom: 100px;
  }

  .pressGrid {
    padding-top: 80px;

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
  }

  .pressSlider {
    padding-top: 80px;
  }

  .pressNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .arrowDisable {
      filter: brightness(0) saturate(100%) invert(50%) sepia(10%) saturate(16%)
        hue-rotate(8deg) brightness(97%) contrast(88%);
      cursor: default;
    }

    img {
      max-width: 60px;
      cursor: pointer;
    }

    .pressFraction {
      font-size: 20px;

      span:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 500px) {
  .pressSwiper.swiper {
    padding-bottom: 40px;
  }

  .pressSwiper .swiper-slide {
    max-width: 300px;
    height: auto;
  }
}
