@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

.formContent {
  padding-bottom: 350px;

  @media (max-width: 500px) {
    padding-bottom: 200px;
  }

  h2 {
    @include headline_second;
  }

  .formFlex {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(300px, 600px);
    grid-template-rows: auto;
    column-gap: 50px;
    padding-top: 80px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      row-gap: 45px;
    }

    @media (max-width: 500px) {
      padding-top: 40px;
    }
  }

  .inputBlock {
    max-width: 500px;
    width: 100%;
    justify-self: start;

    @media (max-width: 800px) {
      max-width: 100%;
    }

    .formGroup {
      &:not(:last-child) {
        margin-bottom: 50px;
      }

      input {
        width: 100%;
        background-color: transparent;
        border: transparent;
        border-bottom: 1px solid #fff;
        box-shadow: none;
        padding: 8px 0;
        font-size: 14px;
        font-size: 0.875em;
        font-weight: 400;
        color: $text-color;
        font-family: 'Montserrat', sans-serif;
        outline: none;

        &:hover,
        &:focus {
          border-bottom-color: $compl-color;
        }
      }
    }
  }

  .textareaBlock {
    max-width: 600px;
    width: 100%;
    justify-self: end;

    grid-row: span 2;

    @media (max-width: 800px) {
      grid-row: span 1;
    }

    @media (max-width: 800px) {
      justify-self: normal;
    }

    textarea {
      width: 100%;
      background-color: transparent;

      padding: 30px;
      margin-bottom: 15px;
      color: $text-color;
      font-family: 'Montserrat', sans-serif;

      @media (max-width: 800px) {
        margin-bottom: 5px;
      }
    }
  }

  .checkboxBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .terms {
      @media (max-width: 1200px) {
        margin-left: auto;
        margin-top: 20px;
      }
      @media (max-width: 991px) {
        margin-left: 0;
        margin-top: 20px;
      }
      a {
        color: $compl-color;
        text-decoration: none;
        border-bottom: 1px solid $compl-color;
      }
    }

    .checkboxInput {
      max-width: 230px;
      width: 100%;

      @media (max-width: 500px) {
        max-width: 100%;
      }

      svg {
        margin-top: 5px;
      }

      label {
        font-size: 16px;
        font-size: 1em;
        line-height: 160%;
      }
    }
  }

  .warningMes {
    color: #ff4646;
    font-size: 14px;
    font-size: 0.875em;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .buttonSubmit {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 2/3;
    margin-top: 50px;

    @media (max-width: 800px) {
      margin-top: 10px;
      grid-column: 1/2;
    }

    button {
      @include button_blue;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-size: 1em;
      font-weight: 500;
      color: $compl-color;
      text-transform: uppercase;

      @media (max-width: 500px) {
        width: 100%;
      }

      cursor: pointer;
    }
  }

  .sendesForm {
    padding-top: 50px;
    font-size: 20px;
    font-size: 1.25em;
    color: $compl-color;
    text-transform: uppercase;
    text-align: center;
  }
}
