@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
}

.studioFounderContent {
  //padding-top needed for correct funct 'ScrollIntoView'
  padding-top: 120px;
  padding-bottom: 130px;

  @media (max-width: 991px) {
    padding-top: 110px;
    padding-bottom: 60px;
  }

  @media (max-width: 500px) {
    padding-bottom: 0;
  }

  .studioFounderBlock {
    display: grid;
    grid-template-columns: 405px 1fr;
    grid-template-rows: 1fr auto auto;
    column-gap: 100px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
    }

    @media (max-width: 768px) {
      grid-template-rows: auto 1fr auto;
    }

    @media (max-width: 500px) {
      grid-template-rows: repeat(3, auto);
      column-gap: 20px;
      row-gap: 25px;
    }

    p {
      font-size: 16px;
      font-size: 1em;
      line-height: 166%;

      @media (max-width: 500px) {
        font-size: 12px;
        font-size: 0.75em;
      }
    }
  }

  .sliderLink {
    display: block;
    overflow: hidden;
  }

  .sliderImg {
    object-fit: cover;
    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .founderImg {
    grid-row: span 3;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      grid-row: span 2;
    }

    @media (max-width: 500px) {
      grid-row: span 1;
    }
  }

  p.founderText {
    max-width: 500px;
    padding-top: 40px;

    @media (max-width: 991px) {
      padding-top: 0;
    }

    @media (max-width: 768px) {
      margin-top: 50px;
      grid-column: span 2;
    }

    @media (max-width: 500px) {
      margin-top: 25px;
      font-size: 14px;
      font-size: 0.875em;
    }
  }

  .founderTitle {
    max-width: 400px;

    @media (max-width: 768px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    p {
      margin-bottom: 20px;
    }

    .title {
      font-size: 18px;
      font-size: 1.125em;
      text-transform: uppercase;

      @media (max-width: 500px) {
        font-size: 12px;
        font-size: 0.75em;
      }
    }
  }

  .work {
    @media (max-width: 768px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (max-width: 500px) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}
