@import '../../../assets/main.scss';

.mainNews {
  position: relative;

  .decorationLine {
    position: absolute;
    height: 2px;
    background-color: #323254;
    left: 0;

    &.lineFirst {
      width: 380px;
      bottom: 190px;
    }

    &.lineSecond {
      width: 290px;
      bottom: 170px;
    }

    @media (max-width: 567px) {
      display: none;
    }
  }
}

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
  cursor: default;
}

.newsContent {
  padding-bottom: 300px;
  @media (max-width: 576px) {
    padding-bottom: 120px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;

    @media (max-width: 576px) {
      margin-bottom: 85px;
    }

    h2 {
      @include headline_second;
    }

    .btn {
      @include button_white;

      @media (max-width: 576px) {
        display: none;
      }

      a {
        font-weight: 500;
        font-size: 18px;
        color: $text-color;
      }
    }
  }
}

.newsList {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, minmax(200px, 300px));
    justify-content: space-around;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    row-gap: 0;
    border-top: 1px solid #717385;
    margin-bottom: 40px;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.newsBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;

  @media (min-width: 567px) {
    background-color: #1e284b;

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all ease-in-out 0.3s;
      background: linear-gradient(
        to bottom,
        rgba(30, 87, 153, 0) 0%,
        rgba(30, 87, 153, 0.09) 3%,
        rgba(41, 137, 216, 0.12) 4%,
        #1e284b 34%,
        #1e284b 100%
      );
    }

    &:hover {
      &::after {
        opacity: 1;
      }
      .readMore {
        opacity: 1;
        bottom: -65px;
      }
      .newsInfo {
        top: -98px;
      }
    }
  }

  .newsImage {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;

    .imageLink {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .newsInfo {
    position: relative;
    top: 0;
    height: 100%;
    padding: 30px 30px 35px;
    font-size: 18px;
    line-height: 160%;

    transition: all 0.3s ease-in-out;
    z-index: 1;

    .newsTitle {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .newsDate {
      font-weight: 300;
      margin-bottom: 20px;
    }

    .newsText {
      font-weight: 400;
      white-space: pre-wrap;
    }
  }

  .readMore {
    @include button_white;
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    bottom: -50px;
    right: 30px;
    left: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    cursor: default;
  }
}

.mobileButton {
  display: block;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    display: none;
  }

  a {
    display: block;
    width: 100%;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
  }
}
