@import "../../utils/fonts.scss";
@import "../../utils/variables.scss";

.customCheckbox {
  .checkboxInput {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  label {
    user-select: none;
    font-size: 14px;
    color: $text-color;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 2px #fff solid;
    margin-right: 20px;
    transition: all 0.4s;
  
    &.checkboxActive {
      border-color: $compl-color;
      background: $compl-color;
    }
  }
}


