.wrapper {
  max-width: var(--op-width);
  width: 100%;
  margin: auto;

  margin-top: 42px;
  padding-bottom: 30px;

  .group1 {
    display: flex;
    flex-direction: row;

    .text1 {
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 160%;
        /* or 16px */

        color: #ffffff;
      }
    }

    .text2 {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      margin-left: 114px;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;

        text-transform: lowercase;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        /* or 22px */

        text-transform: lowercase;

        color: #ffffff;
      }

      a {
        color: #ffffff;
        margin-bottom: 5px;
      }
    }

    .text3 {
      margin-left: 103px;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;

        text-transform: lowercase;

        color: #ffffff;
      }

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;

        color: #ffffff;
        text-transform: lowercase;
      }
    }
  }

  .group2 {
    display: flex;
    flex-direction: row;

    p {
      margin-top: 22px;
      padding-bottom: 40px;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */

      color: #ffffff;
    }

    a {
      margin-left: 186px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }
  }
}

