@import "../../assets/main.scss";


.wrapper {
  @include container;

  padding-top: 42px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 100px;

  @media (max-width: 992px) {
    grid-template-rows: repeat(3, auto);
  }
  @media (max-width: 576px) {
    grid-row-gap: 6 0px;
  }
  .mobileVision {
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }

  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    /* or 16px */

    color: #ffffff;
    @media (max-width: 576px) { 
      font-size: 12px;
    }
  }

  a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
  }

  .group1 {
    @media (max-width: 992px) {
      grid-column: 1 / span 2;
    }
    
  }

  .group2 {
    display: flex;
    flex-direction: row;

    @media (max-width: 992px) {
      grid-column: 1 / span 2;
    }

    @media (max-width: 576px) {
      grid-row-start: 1;
      grid-row-end: 2;
      p {
        font-size: 14px;
      }
    }

    .text2 {
      margin-left: 100px;
      @media (max-width: 576px) {
      }
    }

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;

      text-transform: uppercase;
      margin-bottom: 15px;
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
    a {
      margin-bottom: 10px;
      display: block;
      text-transform: lowercase;
    }
  }

  .group3 p {
    @media (max-width: 576px) { 
      color: #7C7C7C;
    }
  }

  .group4 {
    @media (max-width: 576px) {
      grid-column: 1 / span 2;
      grid-row-start: 2;
      grid-row-end: 3;
      a {
        font-size: 14px;
      }
    }
  }
}
