@import '../../../assets/main.scss';

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: default;
  background-color: #08091d;

  .bgContainer {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .sliderBgImage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
  }
}

.wrapper {
  @include container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $text-color;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
  }

  @media (max-width: 576px) {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
  }

  a {
    color: inherit;
  }

  .sliderContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;

    font-weight: 600;

    @media (max-width: 500px) {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 60px;
      justify-content: flex-end;
      width: 100%;
    }

    .typeShow {
      font-size: 20px;
      font-size: 1.25em;
      line-height: 160%;

      text-transform: uppercase;

      @media (max-width: 500px) {
        font-size: 14px;
        font-size: 0.875em;
      }
    }

    .premiere {
      text-transform: uppercase;
      font-size: 14px;
      font-size: 0.875em;
      color: #fcefae;
    }

    .title {
      font-size: 50px;
      font-size: 3.125em;
      line-height: 160%;

      text-transform: uppercase;

      @media (max-width: 500px) {
        font-size: 30px;
        font-size: 1.875em;
      }
    }

    .description {
      font-size: 16px;
      font-size: 1em;
      font-weight: 400;
      margin-bottom: 50px;

      @media (max-width: 500px) {
        font-size: 14px;
        font-size: 0.875em;
      }
    }

    .ticket {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (max-width: 500px) {
        width: 100%;
        justify-content: space-between;

        .rating {
          font-size: 18px;
          font-size: 1.125em;
        }
      }
    }

    .link {
      @include button_white;
      text-align: center;
      margin-right: 38px;

      font-size: 16px;
      font-size: 1em;
      font-weight: 500;
      color: $text-color;
      min-width: 240px;

      @media (max-width: 500px) {
        font-size: 12px;
        font-size: 0.75em;
        min-width: 200px;
      }
    }

    .rating {
      font-size: 20px;
      font-size: 1.25em;
      line-height: 120%;

      @media (max-width: 500px) {
        .rating {
          font-size: 18px;
          font-size: 1.125em;
        }
      }
    }
  }

  .mobileButton {
    display: block;
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    background-color: #08091d;

    @media (min-width: 576px) {
      display: none;
    }

    a {
      display: block;
      width: 100%;
      color: #ffffff;
      font-size: 14px;
      font-size: 0.875em;
      font-weight: 600;
      padding: 15px;
      text-transform: uppercase;
    }
  }
}

.bottomBlock {
  position: absolute;
  bottom: -180px;
  left: 0;
  right: 0;
  height: 180px;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media (max-width: 770px) {
    height: 150px;
    bottom: -150px;
  }

  @media (max-width: 576px) {
    height: 100px;
    bottom: -100px;
  }
}

.startCalendar {
  width: 100%;
  height: 180px;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media (max-width: 770px) {
    height: 150px;
  }

  @media (max-width: 576px) {
    height: 100px;
  }

  .overlay {
    width: 100%;
    height: 180px;
    background: #0f0d1a;
    opacity: 0.8;

    @media (max-width: 770px) {
      height: 150px;
    }

    @media (max-width: 576px) {
      height: 100px;
    }
  }
}

.blurContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

  overflow: hidden;
}

.startCalendarText {
  @include container;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    @include headline_first;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    @media (max-width: 576px) {
      display: none;
    }

    .allPost {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      min-height: 45px;
      min-width: 190px;
      border: #acacac 2px solid;

      font-weight: 400;
      font-size: 20px;
      font-size: 1.125em;
      color: #f1f1f1;
    }
  }
}
