@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
}

.filterContent {
  .filterTitle {
    padding-top: 13rem;

    @media (max-width: 500px) {
      padding-top: 4.4rem;
    }

    h1 {
      @include headline_first;
    }
  }

  .filterArea {
    padding-top: 5rem;
    overflow: hidden;

    @media (max-width: 500px) {
      padding-top: 2.5rem;
    }
  }

  .filterGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    @media (max-width: 765px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: 500px) {
      flex-wrap: nowrap;
      overflow: scroll;
      justify-content: flex-start;
    }
  }

  .inputFilter {
    max-width: 460px;
    flex-basis: 100%;
    position: relative;

    input {
      width: 100%;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 21px 30px 21px 90px;
      font-size: 14px;
      color: $text-color;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: 500;

      &:hover,
      &:focus {
        border-color: $compl-color;
      }
    }

    &:before {
      content: '';
      z-index: 2;
      user-select: none;
      position: absolute;
      top: 15px;
      left: 30px;
      width: 30px;
      height: 30px;
      background: transparent url('./icon_search.png') no-repeat center / cover;
    }
  }

  .checkboxFilter {
    &:not(:last-child) {
      margin-right: 60px;
    }

    .checkbox {
      label {
        font-size: 14px;
        color: $text-color;
        text-transform: uppercase;

        @media (max-width: 500px) {
          font-size: 12px;
        }
      }
    }
  }
}
