// Миксин для ограничения контейнера блока
@mixin container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  @media (min-width: 576px) {
    max-width: 540px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }

  @media (min-width: 1600px) {
    max-width: 1520px;
  }
}

@mixin headline_first {
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
  cursor: default;

  @media (min-width: 576px) {
    font-size: 30px;
  }

  @media (min-width: 992px) {
    font-size: 50px;
  }
}

@mixin headline_second {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: default;

  @media (min-width: 576px) {
    font-size: 26px;
    line-height: 160%;
  }

  @media (min-width: 992px) {
    font-size: 30px;
    line-height: normal;
  }
}

@mixin button_smooth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 45px;

  background-color: transparent;
  transition: box-shadow 0.6s linear;
  border: none;
  cursor: default;

  @media (max-width: 567px) {
    min-width: 100px;
  }
}

@mixin button_white {
  @include button_smooth;
  box-shadow: 0px 0px 0px 1px #fff;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 2px #fff;
  }
}

@mixin button_blue {
  @include button_smooth;
  box-shadow: 0px 0px 0px 1px #8cabfa;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 2px #8cabfa;
  }
}
