$bg-color: #08091D;
$text-color: #ffffff;
$compl-color: #8cabfa;

// $mobile: "max-width: 768px";
// $tablet: "max-width: 991px";
// $small-dekstop: "max-width: 1280px";
// $dekstop: "max-width: 1366px";
// $middle-dekstop: "max-width: 1440px";
// $large-dekstop: "max-width: 1920px";
// $extra-dekstop: "min-width: 1920px";