@import '../../assets/main.scss';

header {
  position: relative;

  @media (max-width: 991px) {
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .logoContainer {
    display: none;
    position: absolute;
    bottom: -35%;
    right: 20px;
    z-index: 10;

    @media (max-width: 1200px) {
      bottom: -55%;
    }

    @media (min-width: 770px) {
      display: block;
    }

    .back_elipse {
      z-index: 2;
      height: 241px;
      width: 241px;
      bottom: 0;
      right: 0;
      background-color: #13132d;
      border-radius: 50%;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .moon_logo {
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: -3%;
      width: 227px;
      height: 241px;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .moon_logo:hover {
      animation: swing 2s 1 ease-out;
    }

    @keyframes swing {
      0%,
      100% {
        transform: rotate(0deg);
      }

      10%,
      50%,
      90% {
        transform: rotate(20deg);
      }

      30%,
      70% {
        transform: rotate(-20deg);
      }
    }

    .text_logo {
      position: absolute;
      z-index: 3;
      width: 260px;
      height: 175px;

      bottom: 50px;
      right: 40%;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.header_top {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  height: 100px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 991px) {
    background-image: url('./gerasimov.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 120% center;
    height: 200px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 90%;
  }

  @media (min-width: 1200px) {
    background-position: 53% center;
  }
}

.header_info_gov {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 37px;
  left: 20px;

  @media (max-width: 991px) {
    position: relative;
    top: unset;
    left: unset;
  }

  img {
    max-width: 44px;
    width: 100%;
    height: auto;

    @media (max-width: 1024px) {
      width: 40px;
      height: auto;
    }
  }
}

.header_info_blind {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 121px;
  left: 20px;

  @media (max-width: 991px) {
    display: none;
  }
}

.header_info_text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  font-size: 1em;
  line-height: 20px;
  margin-left: 21px;
  color: #ffffff;
  background: transparent;
  border: none;
  text-align: left;

  @media (max-width: 991px) {
    display: none;
  }
}

.mobileMenu {
  display: block;

  @media (min-width: 991px) {
    display: none;
  }

  .mobileMenuIcon {
    position: relative;
    z-index: 6;
    width: 40px;
    height: 30px;
    transition: transform 0.5s;

    @media (max-width: 500px) {
      width: 26px;
      height: 20px;
    }

    .mobileMenuLine {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 50%;
      background-color: white;

      @media (max-width: 500px) {
        height: 3px;
        width: 26px;
        height: 2px;
      }

      &:before {
        transition-duration: 0.5s;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        content: '';
        top: 12px;

        @media (max-width: 500px) {
          height: 3px;
          width: 26px;
          height: 2px;
          top: 8px;
        }
      }

      &:after {
        transition-duration: 0.5s;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        content: '';
        top: -12px;

        @media (max-width: 500px) {
          height: 3px;
          width: 26px;
          height: 2px;
          top: -8px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &.mobileMenuIconOpen {
      transform: rotate(90deg)
    }
  }

  .mobileMenuContainer {
    transition: all 0.5s linear;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    background-color: #08091d;
    z-index: 5;
    padding: 40px 50px;
  }

  .mobileMenuContainerClose {
    @extend .mobileMenuContainer;
    transform: translateX(-200%);
    opacity: 0;
  }

  .mobileMenuContainerOpen {
    @extend .mobileMenuContainer;
    transform: translateX(0);
    opacity: 1;
    height: 87vh;
    overflow: auto;
    max-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

    .socialLinks {
      margin-top: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      .socialLink {
        margin-right: 16px;
        max-width: 40px;

        &:last-child {
          margin-left: 8px;
          margin-right: 0px;
          max-width: 100px;
        }
      }
    }

    .info_blind {
      display: flex;
      margin-top: 50px;

      .info_icon {
        width: 40px;
        height: 40px;
        margin-right: 30px;
      }

      .info_text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        font-size: 1em;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
        background-color: transparent;
        border: none;
        text-align: left;
      }
    }
  }

  .mobileMenuList {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: left;

    li {
      .openAccordion {
        span {
          &:after {
            transform: rotateZ(180deg);
          }
        }
      }
      .linkAccordion {
        display: inline-block;
        width: 100%;
        span {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          font-size: 1.25em;
          line-height: 24px;
          text-transform: lowercase;
          color: #ffffff !important;
          display: inline-block;
          width: 100%;
          position: relative;
          &:after {
            font-family: 'FontAwesome';
            content: url('../../assets/img/arrow-bot.svg');
            position: absolute;
            right: 10px;
            top: 0px;
            display: block;
            transition: transform 200ms;
          }
        }
        div {
          div {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            padding-left: 20px;
          }
        }
        a {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          font-size: 0.875em;
          line-height: 160%;
          color: #ffffff;
          margin-top: 16px;
          text-transform: unset;
          white-space: pre-wrap;
          &:first-child {
            margin-top: 0px;
          }
        }
      }

      a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        font-size: 1.25em;
        line-height: 24px;
        text-transform: lowercase;
        color: #ffffff;
      }

      a:hover {
        color: #778194;
      }
    }

    li:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.mobileLogo {
  display: none;

  @media (max-width: 991px) {
    display: block;
  }

  img {
    height: 90px;
    width: auto;
    max-width: 100%;
  }
}
