@import "../../utils/mixins.scss";
@import "../../utils/fonts.scss";

header {
  position: relative;
  .logoContainer {
    display: none;
    position: absolute;
    bottom: -35%;
    right: 20px;
    z-index: 10;

    @media (max-width: 1200px) {
      bottom: -55%;
    }

    @media (min-width: 770px) {
      display: block;
    }

    .back_elipse {
      z-index: 2;
      height: 241px;
      width: 241px;
      bottom: 0;
      right: 0;
      background-color: #13132d;
      border-radius: 50%;


      @media (max-width: 1200px) {
        height: 150px;
        width: 150px;
      }
    }

    .moon_logo {
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: -3%;
      width: 227px;
      height: 241px;

      @media (max-width: 1200px) {
        height: 150px;
        width: 150px;
        right: -7%;
      }
    }

    .moon_logo:hover {
      animation: swing 2s 1 ease-out;
    }

    @keyframes swing {
      0%,
      100% {
        transform: rotate(0deg);
      }

      10%,
      50%,
      90% {
        transform: rotate(20deg);
      }

      30%,
      70% {
        transform: rotate(-20deg);
      }
    }

    .text_logo {
      position: absolute;
      z-index: 3;
      width: 260px;
      height: 175px;

      bottom: 50px;
      right: 40%;
      
      @media (max-width: 1200px) {
        width: auto;
        height: 90px;
        right: 60px;
        bottom: 30px;
      } 
    }
  }
}
.header_top {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  height: 100px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 770px) {
    background-image: url("./gerasimov.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 120% center;
    height: 200px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 90%;
  }

  @media (min-width: 1200px) {
    background-position: 53% center;
  }
}

// .phone_blind {
//   margin-left: 50px;
//   margin-top: 20px;

//   display: flex;
//   flex-direction: column;

//   .phone {
//     font-family: "Mohave";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 25px;
//     line-height: 35px;
//     text-decoration: none;

//     margin-bottom: 40px;

//     color: #ececec;
//   }

//   .blind {
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 18px;
//     text-decoration: none;

//     color: #ececec;
//   }
// }

.header_info_gov {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 37px;
  left: 20px;
  @media (max-width: 770px) {
    position: relative;
    top: unset;
    left: unset;
  }

  img {
    width: 44px;
    height: 52px;

    @media (max-width: 1024px) {
      width: 70px;
      height: auto;
    }
    @media (max-width: 1024px) {
      width: 40px;
    }
  }
}

.header_info_blind {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 121px;
  left: 20px;
  @media (max-width: 769px) {
    display: none;
  }
}

.header_info_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin-left: 21px;
  color: #ececec;
  @media (max-width: 770px) {
    display: none;
  }
}

.mobileMenu {
  display: none;

  @media (max-width: 770px) {
    display: block;
  }

  .mobileMenuIcon {
    position: relative;
    z-index: 6;
    width: 50px;
    height: 50px;
    @media (max-width: 500px) {
      width: 30px;
      height: 25px;
    }
  
    div {
      transition-duration: 0.5s;
      position: absolute;
      height: 6px;
      width: 50px;
      top: 25px;
      background-color: white;

      @media (max-width: 500px) {
        height: 3px;
        width: 30px;
        top: 7px;
      }

      &:before {
        transition-duration: 0.5s;
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: white;
        content: "";
        top: -15px;

        @media (max-width: 500px) {
          height: 3px;
          width: 30px;
          top: -10px;
        }
      }

      &:after {
        transition-duration: 0.5s;
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: white;
        content: "";
        top: 15px;

        @media (max-width: 500px) {
          height: 3px;
          width: 30px;
          top: 10px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
    .mobileMenuIconOpen {
        transition-duration: 0.5s;
        background: transparent;

        &:before {
          transform: rotateZ(45deg) scaleX(1.25) translate(10px, 10px);
          @media (max-width: 500px) {
            transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
          }
        }

        &:after {
          transform: rotateZ(-45deg) scaleX(1.25) translate(9px, -9px);
          @media (max-width: 500px) {
            transform: rotateZ(-45deg) scaleX(1.25) translate(7px, -7px);
          }
        }

        
    }
  }

  .mobileMenuContainer {
    transition: all 0.3s linear;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    background-color: #15141e;
    z-index: 5;
    padding: 40px 50px;
  }

  .mobileMenuContainerClose {
    @extend .mobileMenuContainer;
    transform: translateY(-200%);
    opacity: 0;
  }
  
  .mobileMenuContainerOpen {
    @extend .mobileMenuContainer;
    transform: translateY(0);
    opacity: 1;
  }
  .mobileMenuList {
    display: flex;
    flex-direction: column;
    list-style: none;

    align-items: left;

    li {
      a {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 18px;
        text-transform: lowercase;

        color: #f4f4f4;
      }

      a:hover {
        color: #778194;
      }
    }
    li:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.mobileLogo {
  display: block;

  @media (min-width: 770px) {
    display: none;
  }

  img {
    height: 90px;
    width: auto;
    max-width: 100%;
  }
}
