@import '../../../assets/main.scss';

.buttonFilter {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  background-color: transparent;
  color: $text-color;
  cursor: pointer;

  @media (max-width: 765px) {
    margin-bottom: 20px;
  }

  @media (max-width: 500px) {
    font-size: 12px;
    font-size: 0.75em;
    border: none;
    padding: 0px;
    white-space: nowrap;
  }

  &:not(:last-child) {
    margin-right: 60px;

    @media (max-width: 500px) {
      margin-right: 30px;
    }
  }

  &.active {
    border-color: $compl-color;
    color: $compl-color;
  }
  &.activeUnderline {
    color: $compl-color;
    text-decoration: underline;
  }
  &:hover {
    color: $compl-color;
  }
}
