@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  // background-color: $bg-color;

  a {
    color: inherit;
  }

  .showsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 100px;
    padding-top: 7.5rem;
    padding-bottom: 21.9rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      padding-top: 3.8rem;
      row-gap: 70px;
      padding-bottom: 12.5rem;
    }
  }

  .showsCard {
    max-width: 400px;
    width: 100%;
    min-width: 200px;

    &:nth-child(3n + 1) {
      justify-self: start;
    }

    &:nth-child(3n + 2) {
      justify-self: center;
    }

    &:nth-child(3n + 3) {
      justify-self: end;
    }

    @media (max-width: 992px) {
      &:nth-child(2n + 1) {
        justify-self: start;
      }

      &:nth-child(2n + 2) {
        justify-self: end;
      }
    }
    @media (max-width: 500px) {
      max-width: 100%;
      &:nth-child(1n + 1) {
        justify-self: start;
      }
    }
  }
}
