@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;

  a {
    color: inherit;
  }

  .showsContent {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 100px;
    padding-bottom: 21.9rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      row-gap: 70px;
      padding-bottom: 12.5rem;
    }
  }

  .showsCard {
    width: 100%;

    @media (max-width: 992px) {
      &:nth-child(2n + 1) {
        justify-self: start;
      }

      &:nth-child(2n + 2) {
        justify-self: end;
      }
    }

    @media (max-width: 500px) {
      max-width: 100%;

      &:nth-child(1n + 1) {
        justify-self: start;
      }
    }
  }
}
