.frame {
  padding-bottom: 60px;

  width: var(--op-width);
  margin: auto;

  .header {
    color: white;
    margin-bottom: 40px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 50px;
  }

  .sponsors {
    flex: 1;

    display: flex;
    justify-content: space-between;
    list-style: none;

    align-items: center;
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 550;
      font-size: 16px;
      line-height: 24px;
      text-transform: lowercase;

      color: #f4f4f4;
    }
  }
}
