.frame {
  padding-bottom: 60px;

  max-width: var(--op-width);
  width: 100%;
  margin: auto;

  .header {
    color: white;
    margin-bottom: 80px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 50px;
  }

  .sponsors {
    flex: 1;

    display: flex;
    justify-content: space-around;
    gap: 90px;
    list-style: none;
    align-items: center;
    max-height: 100%;
    margin-bottom: 17px;

    img {
      width: auto;
      height: 88px;
    }

    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 550;
      font-size: 16px;
      line-height: 24px;
      text-transform: lowercase;

      color: #f4f4f4;
    }
  }
}
