@import '../../../assets/main.scss';

.cardDirectorContent {
  width: 100%;
  display: flex;
  margin-bottom: 92px;
  &:nth-child(2) {
    background: #fff;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .cardDirectorImg {
    position: relative;
    max-width: 404px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin-right: 36px;

    .imageLink {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 30px;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center 10%;
      backface-visibility: hidden;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .directorCardText {
    font-size: 16px;
    color: $text-color;

    padding-top: 30px;

    .actorName {
      text-transform: uppercase;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: $text-color;
      }
    }

    .actorRole {
      margin-top: 15px;
    }

    .actorRank {
      margin-top: 15px;
    }
  }
}
.actorRankMobile {
  display: none;
}

@media (max-width: 414px) {
  .cardDirectorContent {
    margin-bottom: 0;
    .cardDirectorImg {
      margin-right: 20px;
      .imageLink {
        padding-top: 15px;
      }
    }
  }
  .actorRank {
    display: none;
  }
  .actorRankMobile {
    display: block;
    margin: 24px 0px 60px 0px;
    max-width: 50%;
    font-weight: 400;
    font-size: 12px;
    line-height: 166.9%;
  }
  .directorCardText {
    padding-top: 10px !important;
    .actorName {
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;
    }
    .actorRole {
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;
    }
  }
}
