@import '../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;

  .footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 40px;
    padding-bottom: 30px;

    @media (min-width: 767px) {
      border-bottom: 3px solid #2a2a38;
      padding-top: 100px;
      padding-bottom: 100px;
      flex-direction: row;
    }

    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 100%;
      text-transform: inherit;

      margin-bottom: 25px;

      @media (max-width: 576px) {
        font-size: 24px;
        margin-bottom: 15px;
      }
    }

    .cahBox {
      @media (max-width: 767px) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 25px;
        order: 2;
      }

      .cashBoxPhone {
        display: block;

        font-weight: 400;
        font-size: 38px;
        letter-spacing: 0.05em;

        margin-bottom: 22px;

        color: $text-color;

        @media (max-width: 500px) {
          font-size: 18px;
        }
      }

      .schedule {
        font-weight: 400;
        font-size: 16px;
        line-height: 146%;

        @media (max-width: 576px) {
          display: none;
        }
      }
      .scheduleMob {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        display: none;

        @media (max-width: 576px) {
          display: block;
        }
      }
    }

    .socialLinksList {
      @media (max-width: 1200px) {
        padding-top: 60px;
        order: 3;
      }

      h2 {
        @media (max-width: 576px) {
          margin-bottom: 20px;
        }
      }

      .socialLink {
        margin-right: 17px;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 576px) {
          margin-right: 15px;
        }
      }

      img {
        max-width: 100%;
        width: 100%;
        height: 40px;

        @media (max-width: 576px) {
          max-width: 112px;
          height: auto;
        }
      }
    }

    .footerLogoBlock {
      position: relative;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      @media (max-width: 768px) {
        order: 1;
        text-align: end;
      }

      .footerLogo {
        max-width: 288px;

        position: relative;
        z-index: 2;

        @media (max-width: 767px) {
          max-width: 113px;
        }
      }

      .footerLogoGirl {
        position: absolute;
        top: 90%;
        left: 60%;
        z-index: 1;

        @media (max-width: 767px) {
          left: 90%;
          img {
            max-height: 100px;
          }
        }
      }
    }
  }
}
