@import '../../assets/main.scss';

.containerDetailInfo {
  color: white;
  padding-top: 200px;
  font-family: 'Montserrat';
}
.detailInfo {
  @include container;

  margin-left: auto;
  margin-right: auto;
  .collectiveImg {
    width: 100%;
    margin-bottom: 158px;
    max-height: 671px;
  }
  .collectiveImg:hover {
    transform: none;
  }
  h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 140px;
  }
  .directorCards {
    padding-bottom: 120px;
  }
  .nameButtonFilter {
    font-weight: 500px;
  }
}

@media (max-width: 414px) {
  .containerDetailInfo {
    padding-top: 100px;
    padding-bottom: 60px;
    h1 {
      padding-bottom: 50px;
      font-weight: 600;
      font-size: 22px;
      line-height: 36px;
    }
    .collectiveImg {
      opacity: 20%;
      margin-bottom: 120px;
    }
    .filters {
      display: flex;
      overflow: scroll;
    }
    .detailInfo {
      .nameButtonFilter {
        font-size: 12px !important;
        line-height: 15px !important;
      }
    }
  }
}
