@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;

  .photoContent {
    //padding-top needed for correct funct 'ScrollIntoView'
    padding-top: 120px;
    padding-bottom: 350px;

    @media (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 270px;
    }

    @media (max-width: 500px) {
      padding-bottom: 200px;
    }

    h2 {
      @include headline_second;
    }
  }

  .photoBlock {
    padding-top: 100px;
  }
}
