@import '../../../assets/main.scss';
.cardContent {
  width: 100%;
  min-width: 200px;
  cursor: default;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    max-width: unset;
  }

  .showsImage {
    // specified padding for correct image aspect ratio
    position: relative;
    padding-bottom: 72.25%;
    height: 0;
    overflow: hidden;

    .imageLink {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: default;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      backface-visibility: hidden;
      transition: transform 0.7s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .showsCardText {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
      color: inherit;
    }

    .topBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: 15px;
      margin-bottom: 10px;

      .titleContainer {
        max-width: 328px;
      }

      .title {
        margin-bottom: 10px;
      }

      .titleLink {
        cursor: default;

        font-size: 16px;
        font-size: 1em;
        line-height: 160%;
        text-transform: uppercase;

        transition: text-decoration-color 0.3s linear;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: transparent;

        @media (max-width: 765px) {
          font-size: 14px;
          font-size: 0.875em;
        }

        &:hover {
          text-decoration-color: $text-color;
        }
      }

      .rating {
        font-size: 18px;
        font-size: 1.125em;

        @media (max-width: 500px) {
          font-size: 16px;
          font-size: 1em;
        }
      }
    }

    .shortDescription {
      max-width: 328px;
    }

    .shortDescription,
    .place {
      font-size: 16px;
      font-size: 1em;
      line-height: 160%;
      margin-bottom: 10px;

      @media (max-width: 765px) {
        font-size: 14px;
        font-size: 0.875em;
      }
    }

    .place {
      margin-bottom: 30px;
    }

    .ticket {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;

      .buy {
        max-width: 45%;
        flex-basis: 100%;
        position: relative;
        overflow: hidden;
        padding: 5px;
      }

      .link {
        @include button_white;
        font-family: 'Montserrat', sans-serif;
        min-width: auto;
        width: 100%;
        font-size: 14px;
        font-size: 0.875em;
        color: $text-color;

        @media (max-width: 500px) {
          @include button_blue;
          color: $compl-color;

          font-size: 12px;
          font-size: 0.75em;
        }
      }

      .premiere {
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 18px;
        font-size: 1.125em;
        color: #fcefae;
        text-transform: uppercase;

        @media (max-width: 765px) {
          font-size: 12px;
          font-size: 0.75em;
        }
      }
    }
  }
}
