@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

.laureateContent {
  padding-top: 176px;
  padding-bottom: 350px;

  @media (max-width: 767px) {
    padding-top: 140px;
    padding-bottom: 270px;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  h2 {
    @include headline_second;
  }

  .laureateList {
    padding-top: 72px;

    @media (max-width: 767px) {
      padding-top: 55px;
    }

    @media (max-width: 500px) {
      padding-top: 40px;
    }
  }

  .laureateBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    &:not(:last-child) {
      margin-bottom: 95px;

      @media (max-width: 500px) {
        margin-bottom: 100px;
      }
    }

    @media (max-width: 991px) {
      justify-content: center;
    }

    @media (max-width: 500px) {
      justify-content: flex-start;
    }

    .seasons {
      max-width: 420px;
      position: sticky;
      top: 100px;

      @media (max-width: 991px) {
        position: relative;
        top: unset;
      }

      p {
        font-size: 50px;
        line-height: 160%;
        text-transform: uppercase;
        font-weight: 300;

        @media (max-width: 767px) {
          font-size: 40px;
        }

        @media (max-width: 500px) {
          font-size: 30px;
        }
      }

      .yars {
        margin-left: 110px;

        @media (max-width: 500px) {
          margin-left: 45px;
        }
      }
    }

    .playsList {
      max-width: 610px;
      min-width: 300px;
      flex: 1;

      @media (max-width: 500px) {
        width: 100%;
        min-width: 100%;
      }
    }

    .plays {
      &:not(:last-child) {
        margin-bottom: 94px;

        @media (max-width: 500px) {
          margin-bottom: 65px;
        }
      }
    }

    .playName {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;

      @media (max-width: 500px) {
        font-size: 12px;
      }
    }

    .actorsList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: 20px;
      row-gap: 60px;

      padding-top: 60px;

      @media (max-width: 500px) {
        padding-top: 40px;
        row-gap: 40px;
      }
    }
  }
}
