@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

.laureateContent {
  padding-top: 176px;
  padding-bottom: 350px;

  @media (max-width: 767px) {
    padding-top: 140px;
    padding-bottom: 270px;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  h2 {
    @include headline_second;
  }

  .laureateList {
    padding-top: 72px;
  }

  .laureateBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px;

    &:not(:last-child) {
      margin-bottom: 76px;
    }

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .seasons {
      max-width: 420px;
      p {
        @include headline_first;
        font-weight: 300;
      }

      .yars {
        margin-left: 110px;
      }
    }

    .playsList {
      max-width: 610px;
      flex-basis: 60%;
    }

    .plays {
      &:not(:last-child) {
        margin-bottom: 94px;
      }
    }

    .playName {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .actorsList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: 20px;
      row-gap: 20px;

      padding-top: 60px;
    }
  }
}
