@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;500&display=swap");
@import "../../utils/mixins.scss";

.wrapper {
  @include container;

  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 80px;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }

  .title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 59px;
    line-height: 66px;

    text-transform: uppercase;

    color: white;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: normal;
    }

    @media (max-width: 576px) {
      font-size: 30px;
    }
  }

  .btn {
    width: 165px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #1c1820;
    background: #484b68;

    @media (max-width: 576px) {
      display: none;
    }

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: medium;
      font-size: 19px;
      line-height: 45px;

      color: #f1f1f1;
    }
  }
}

.newsContent {
  height: 600px;
  margin-top: 0;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  grid-template-rows: repeat(6, minmax(0px, 1fr));

  gap: 20px;

  @media (max-width: 1200px) {
    grid-template-rows: repeat(3, minmax(0px, 270px));
    gap: 20px 0;
    height: auto;
  }

  @media (max-width: 576px) {
    grid-template-rows: repeat(3, minmax(0px, 150px));
  }

  a {
    border: 1px solid #6f7081;
  }

  .bigNewsImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;

    @media (max-width: 1200px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .bigNewsText {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 25px 30px;

    @media (max-width: 1200px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (max-width: 576px) {
      padding: 25px 20px;
    }

    .title {
      font-weight: 600;
      font-size: 25px;
      line-height: 148%;
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    .date {
      font-size: 16px;
      @media (max-width: 576px) {
        font-size: 12px;
      }
    }
  }

  .smallNewsItem1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    @extend .smallNewsItem;

    @media (max-width: 1200px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  .smallNewsItem2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;

    @extend .smallNewsItem;
    @media (max-width: 1200px) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}

.smallNewsItem {
  display: flex;
  flex-direction: row;

  img {
    width: 50%;
    height: 100%;
    object-fit: cover;

    border-right: 1px solid #6f7081;
  }

  .boxWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    @media (max-width: 576px) {
      padding: 25 20px;
    }

    .box {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 16px;
        line-height: 148%;
        font-weight: 600;
        margin-bottom: 10px;
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }

      .date {
        font-size: 12px;
      }

      .text {
        font-size: 16px;
        line-height: 152%;
        font-family: "Montserrat";
        font-weight: 400;
        color: white;
        margin-top: auto;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 576px) {
          display: none;
        }
      }
    }
  }
}

.title {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.date {
  font-family: "Montserrat";
  color: #929fcc;
}
