* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #000000;
}

@media (max-width: 991px) {
  header {
    background: #08091d;
  }
}

footer {
  background-color: #08091d;
  height: 100%;
}

.divider {
  background: url('../public/img/divider.png');
  height: 10px;
  max-width: 100%;

  border: none;
}

hr {
  height: 3px;
  max-width: 100%;

  border: none;
  background-color: #2a2a38;
}
