* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* background: url('./background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%; */
  background-color: #00000000;
}

header {
  background: #000000;
}

@media (max-width: 991px) {
  header {
    background: #15141e;
  }
}

section {
  background: rgba(0, 0, 0, 0);
}

footer {
  background-color: #08091d;
  height: 100%;
}

.divider {
  background: url('../public/img/divider.png');
  height: 10px;
  max-width: 100%;

  border: none;
}

hr {
  height: 3px;
  max-width: 100%;

  border: none;
  background-color: #2a2a38;
}
