* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #15141e;
  height: 100%;
}

header {
  background: #15141E;
}

@media (min-width: 981px) {
  header {
    background: #000000;
  }
}

section {
  background: #15141e;
}

footer {
  background-color: #101017;
  height: 100%;
}

.divider {
  background: url("../public/img/divider.png");
  height: 10px;
  max-width: 100%;

  border: none;
}

hr {
  height: 3px;
  max-width: 100%;

  border: none;
  background-color: #2a2a38;
}

