@import '../../../assets/utils/mixins.scss';
@import '../../../assets/utils/fonts.scss';

@keyframes button {
  0% {
    border: 1px solid #8cabfa;
    padding: 15px 60px;
  }
  100% {
    border: 2px solid #7396ea;
    padding: 14px 59px;
  }
}

.posterContent {
  @include container;
  color: white;
}
.posterContent:last-child {
  padding-bottom: 350px;
}

.data {
  display: flex;
}
.posterContent_el {
  width: 100%;
  height: 190px;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  margin-top: -1px;

  @media (max-width: 770px) {
    height: 230px;
  }
}
.posterContent_el_content {
  display: flex;
  height: 100%;
}
.data {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 180px;
  cursor: default;

  @media (max-width: 1000px) {
    min-width: 180px;
  }

  @media (max-width: 770px) {
    order: 1;
  }
}
.posterContent_el_content_2 {
  display: flex;

  @media (max-width: 770px) {
    flex-direction: column;
    margin: 30px 0;
  }
}
.dataNumber {
  font-family: 'Montserrat';
  font-size: 44px;
  font-weight: 300;
  text-align: left;

  @media (max-width: 1200px) {
    font-size: 32px;
  }
}
.dataTime {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  height: 48px;
  display: flex;
  flex-direction: column;
  margin: auto 0;

  p:last-child {
    margin-bottom: 0;
    margin-top: auto;
  }

  @media (max-width: 1200px) {
    font-size: 11px;
    padding: 0;
    padding-left: 10px;
    height: 40px;
  }
}
.name {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin: auto 0;
  margin-left: 150px;
  position: relative;
  text-transform: uppercase;
  cursor: default;

  div {
    a {
      color: white;
      &:hover {
        text-decoration: underline;
        transition: all 0.2s;
      }
    }
  }

  @media (max-width: 1200px) {
    margin-left: 10px;
  }

  @media (max-width: 1000px) {
    margin-left: 0px;
  }

  @media (max-width: 770px) {
    margin-left: 0;
  }

  div:nth-child(1) {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;

    div:nth-child(1) {
      display: inline-block;
      border-bottom: 1px rgba(255, 255, 255, 0) solid;

      &:hover {
        border-bottom: 1px white solid;
      }
    }

    @media (max-width: 1200px) {
      font-size: 20px;
    }
    @media (max-width: 1000px) {
      font-size: 15px;
    }
  }
}
.scien {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;

  @media (max-width: 1200px) {
    font-size: 12px;
  }
}
.premier {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  margin-left: 100px;
  position: absolute;
  left: 100%;
  top: 15%;
  color: #fcefae;

  @media (max-width: 1400px) {
    left: 80%;
    top: 15%;
  }
  @media (max-width: 1000px) {
    left: 80%;
    top: 0%;
  }
  @media (max-width: 770px) {
    left: -56%;
    top: 107%;
    color: #fcefae;
  }
}

.restrictionBlock {
  display: flex;
  margin: auto 0;
  margin-right: 0;
  margin-left: auto;
  height: 50px;
  width: 300px;

  @media (max-width: 1000px) {
    min-width: 240px;
    width: 240px;
  }

  @media (max-width: 770px) {
    flex-direction: column;
    min-width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: auto;
    height: 100%;
    text-align: center;
  }
}
.buy {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  padding: 15px 60px;
  border: 0.1px solid #8cabfa;
  color: #8cabfa;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;

  &:hover {
    padding: 14px 59px;
    transition: all 0.2s;
    border: 2px solid #7396ea;
  }

  @media (max-width: 1000px) {
    font-size: 12px;
    padding: 11px 25px;
    height: 40px;

    &:hover {
      border: 2px solid #8cabfa;
      padding: 10px 24px;
    }
  }
  @media (max-width: 770px) {
    margin-top: auto;
    margin-bottom: 77px;
    min-width: 150px;
  }
}
.restriction {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  padding-top: 15px;
  margin-left: 0;
  margin-right: auto;
  cursor: default;

  @media (max-width: 770px) {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    padding-top: 12px;
  }
}
.antibBlockBlock {
  @include container;
  cursor: default;
}
.antiBlock {
  color: white;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 18px;
  padding-bottom: 100px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 60px;
  cursor: default;
}

.antibBlockBlock_2 {
  @include container;
  cursor: default;
}

.antiBlock_2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 80px;
  cursor: default;
}
