@import '../../../assets/main.scss';

.partners {
  position: relative;

  .decorationLine {
    position: absolute;

    &.lineFirst {
      height: 2px;
      width: 380px;
      top: 190px;
      right: 7%;
      background-color: #323254;
    }

    &.CircleFirst {
      width: 45px;
      height: 45px;
      top: 5%;
      background-color: transparent;
      border: 2px solid #323254;
      border-radius: 50%;
      right: 30%;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }
}

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
  cursor: default;
}

.partnersContent {
  padding-bottom: 160px;

  h2 {
    @include headline_second;
    margin-bottom: 120px;

    @media (max-width: 500px) {
      margin-bottom: 70px;
    }
  }

  .sponsors {
    flex: 1;

    display: flex;
    justify-content: space-around;
    gap: 90px;
    list-style: none;
    align-items: center;
    max-height: 100%;

    img {
      max-width: 100%;
      width: auto;
      height: 85px;
    }

    a {
      font-size: 0;
      line-height: 0;
    }
  }

  .cityRecommendations {
    margin-bottom: 130px;
    max-width: 740px;

    @media (max-width: 500px) {
      display: none;
    }
  }
}
