@import '../../assets/main.scss';

.containerTeam {
  color: white;
  padding-top: 200px;
  padding-bottom: 134px;
}
.promoTage {
  @include container;

  margin-left: auto;
  margin-right: auto;
  .collectiveImg {
    width: 100%;
    margin-bottom: 158px;
    max-height: 671px;
  }
  .filters {
    display: flex;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
  .collectiveImg:hover {
    transform: none;
  }
  h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    font-size: 3.125em;
    font-weight: 600;
    padding-bottom: 100px;
    line-height: 160.9%;
  }
  .directorCards {
    padding-bottom: 120px;
  }
  .nameButtonFilter {
    font-weight: 500px;
  }
}

@media (max-width: 414px) {
  .containerTeam {
    padding-top: 100px;
    padding-bottom: 60px;
    h1 {
      padding-bottom: 50px;
      font-weight: 600;
      font-size: 22px;
      font-size: 1.375em;
      line-height: 36px;
    }
    .collectiveImg {
      opacity: 100%;
      margin-bottom: 120px;
    }
    .filters {
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
    }
    .promoTage {
      .nameButtonFilter {
        font-size: 12px !important;
        font-size: 0.75em !important;
        line-height: 15px !important;
      }
      section {
        div {
          div {
            div {
              flex: none;
              flex-wrap: wrap;
              row-gap: 50px;
              div {
                flex-wrap: nowrap;
                flex: 0 1 46%;
                div {
                  div {
                    padding-top: 15px;
                    a {
                      font-weight: 500;
                      font-size: 12px;
                      font-size: 0.75em;
                      line-height: 150%;
                    }
                  }
                }
                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
