@import '../../assets/main.scss';

.containerTeam {
  color: white;
  padding-top: 200px;
  padding-bottom: 134px;

  @media (max-width: 800px) {
    padding-top: 150px;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
  }
}
.promoTage {
  @include container;

  margin-left: auto;
  margin-right: auto;
  .collectiveImg {
    width: 100%;
    margin-bottom: 158px;
    max-height: 671px;
    object-fit: cover;
  }
  .filterGroup {
    display: flex;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
    .checkbox {
      label {
        font-size: 14px;
        font-size: 0.875em;
        color: $text-color;
        text-transform: uppercase;
        align-items: center;

        @media (max-width: 500px) {
          font-size: 12px;
          font-size: 0.75em;
        }
      }
    }
  }
  .noActorsResult {
    font-size: 22px;
    font-size: 1.375em;
    padding-top: 100px;
  }
  .actorsGridTroupe {
    padding-top: 100px;

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 55px;

    @media (max-width: 500px) {
      overflow: scroll;
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
    }
    .actorsCard {
      max-width: 295px;
      @media (max-width: 500px) {
        min-width: 130px;
      }
    }
  }
  .collectiveImg:hover {
    transform: none;
  }
  h1 {
    @include headline_first;
    padding-bottom: 100px;
  
    @media (max-width: 500px) {
      padding-bottom: 60px;
    }
  }
  .directorCards {
    padding-bottom: 120px;
  }
  .nameButtonFilter {
    font-weight: 500px;
  }
}

@media (max-width: 414px) {
  .containerTeam {
    padding-top: 100px;
    padding-bottom: 60px;
    .collectiveImg {
      opacity: 100%;
      margin-bottom: 120px;
    }
    .filterGroup {
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
    }
    .promoTage {
      .nameButtonFilter {
        font-size: 12px !important;
        font-size: 0.75em !important;
        line-height: 15px !important;
      }
      section {
        div {
          div {
            div {
              flex: none;
              flex-wrap: wrap;
              row-gap: 50px;
              div {
                flex-wrap: nowrap;
                flex: 0 1 46%;
                div {
                  div {
                    padding-top: 15px;
                    a {
                      font-weight: 500;
                      font-size: 12px;
                      font-size: 0.75em;
                      line-height: 150%;
                    }
                  }
                }
                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
