@import '../../assets/main.scss';

nav {
  position: sticky;
  top: 0;
  z-index: 5;

  width: 100vw;

  background-color: #08091d;
  box-shadow: 0px 1px 0px #000000;

  cursor: default;

  @media (max-width: 991px) {
    display: none;
  }

  .wrapper {
    @include container;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 10px;

    padding-left: 30px;
    box-sizing: border-box;
    // position: relative;
  }

  ul {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: center;

    .menuItem {
      color: #f4f4f4;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 16px;
      font-size: 1em;
      line-height: 22px;
      text-transform: lowercase;
      transition: color 0.3s;

      padding: 33px 0;

      &:not(:last-child) {
        padding-right: 30px;
      }

      &:not(:first-child) {
        padding-left: 30px;
      }

      &:hover {
        color: $compl-color;
      }

      a {
        cursor: default;

        color: #f4f4f4;
        transition: color 0.3s;

        &:hover {
          color: $compl-color;
        }
      }
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    width: 100vw;
    right: 0;
    // left: -60px;

    background: #08091d;
    border-top: 1px solid #111129;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    display: flex;
    padding: 60px 0;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .subMenuBlock {
    max-width: 200px;
    &:first-of-type {
      margin-left: 18%;

      @media (max-width: 1600px) {
        margin-left: 20%;
      }

      @media (max-width: 1400px) {
        margin-left: 24%;
      }

      @media (max-width: 1200px) {
        margin-left: 28%;
      }
    }

    &:not(:last-of-type) {
      margin-right: 60px;
    }

    a {
      display: block;
      font-weight: 400;
      font-size: 16px;
      font-size: 1em;
      line-height: 160%;
      color: $text-color;
      text-transform: initial;

      &:not(:last-of-type) {
        margin-bottom: 0.8rem;
      }
    }
  }

  .logoContainerMini {
    width: 132px !important;
    height: 78px !important;
    bottom: 8px !important;
    right: 4.25% !important;
  }

  .logoContainer {
    position: absolute;
    z-index: 10;
    height: 269px;
    width: 440px;
    bottom: 21px;
    right: 1%;
    transition: all 0.5s !important;
    display: flex;

    @media (max-width: 1340px) {
      right: -2%;
    }

    @media (max-width: 1200px) {
      bottom: -15%;
      right: 5%;
      width: 240px;
      height: 145px;
    }

    .moon_logo {
      width: 100%;
      height: auto;

      @media (max-width: 991px) {
        display: none;
      }  
    }
    @keyframes swing {
      0%,
      100% {
        transform: rotate(0deg);
      }

      10%,
      50%,
      90% {
        transform: rotate(20deg);
      }

      30%,
      70% {
        transform: rotate(-20deg);
      }
    }

    .text_logo {
      position: absolute;
      z-index: 3;
      width: 260px;
      height: 175px;

      bottom: 50px;
      right: 40%;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}
