@import "../../utils/mixins.scss";
@import "../../utils/fonts.scss";

nav {
  position: sticky;
  top: 0;
  z-index: 5;

  width: 100vw;
  height: 88px;

  // border-top: 3px solid #201e2d;
  background-color: #181723;

  box-shadow: 0px 1px 0px #000000;

  @media (max-width: 1024px) {
    display: none;
  }

  .wrapper {
    @include container;

    height: 100%;

    display: flex;
    flex-direction: row;
    position: relative;

    padding-left: 30px;
    box-sizing: border-box;

    ul {
      flex: 1;

      display: flex;
      justify-content: space-between;
      list-style: none;

      align-items: center;

      li {
        a {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 550;
          font-size: 16px;
          line-height: 24px;
          text-transform: lowercase;

          color: #f4f4f4;
        }

        a:hover {
          color: #778194;
        }
      }
    }

    .logoContainer {
      width: 420px;

      @media (max-width: 1200px) {
        width: 220px;
      }

      .back_elipse {
        position: absolute;
        z-index: 2;
        height: 241px;
        width: 241px;
        background-color: #13132d;
        border-radius: 50%;
        bottom: 0;
        right: 0;

        @media (min-width: 1600px) {
          right: -5%;
        }

        @media (max-width: 1200px) {
          height: 150px;
          width: 150px;
        }
      }

      .moon_logo {
        position: absolute;
        z-index: 3;
        bottom: 0;
        right: 0;
        width: 227px;
        height: 241px;
        
        @media (min-width: 1600px) {
          right: -5%;
        }

        @media (max-width: 1200px) {
          height: 150px;
          width: 150px;
          margin-top: -150px;
        }
      }

      .moon_logo:hover {
        animation: swing 2s 1 ease-out;
      }

      @keyframes swing {
        0%,
        100% {
          transform: rotate(0deg);
        }

        10%,
        50%,
        90% {
          transform: rotate(20deg);
        }

        30%,
        70% {
          transform: rotate(-20deg);
        }
      }

      .text_logo {
        position: absolute;
        z-index: 3;
        width: 260px;
        height: 175px;

        bottom: 50px;
        right: 100px;
        
        @media (min-width: 1600px) {
          right: 3%;
        }
        @media (max-width: 1200px) {
          width: auto;
          height: 90px;
          right: 70px;
          bottom: 30px;
        } 
      }
    }
  }
}

