nav {
  position: sticky;
  top: 0;
  z-index: 5;

  width: 100vw;
  height: 88px;

  // border-top: 3px solid #201e2d;
  background-color: #181723;

  box-shadow: 0px 1px 0px #000000;

  .wrapper {
    width: var(--op-width);
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;

    ul {
      flex: 1;

      display: flex;
      justify-content: space-between;
      list-style: none;

      align-items: center;

      li {
        a {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 550;
          font-size: 16px;
          line-height: 24px;
          text-transform: lowercase;

          color: #f4f4f4;
        }

        a:hover {
          color: #778194;
        }
      }
    }

    .logoContainer {
      width: 420px;

      .back_elipse {
        position: absolute;
        z-index: 2;
        height: 241px;
        width: 241px;
        background-color: #13132d;
        border-radius: 50%;
        margin-top: -178px;
        right: 70px;
      }

      .moon_logo {
        position: absolute;
        z-index: 3;
        margin-top: -178px;
        right: 70px;
      }

      .moon_logo:hover {
        animation: swing 2s 1 ease-out;
      }

      @keyframes swing {
        0%,
        100% {
          transform: rotate(0deg);
        }

        10%,
        50%,
        90% {
          transform: rotate(20deg);
        }

        30%,
        70% {
          transform: rotate(-20deg);
        }
      }

      .text_logo {
        position: absolute;
        z-index: 3;

        margin-top: -158px;
        right: 180px;
      }
    }
  }
}

