@import '../../../assets/utils/mixins.scss';
@import '../../../assets/utils/fonts.scss';

.posterContent {
  color: white;
}
.posterContent_el {
  width: 100%;
  height: 230px;
  border-bottom: 1px solid white;

  @media (max-width: 567px) {
    height: 150px;
    border-bottom: 1px solid #717385;
  }
}
.posterContent_el_content {
  display: flex;
  height: 100%;
}
.data {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 250px;
  height: 167px;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
  margin-right: auto;

  @media (max-width: 1000px) {
    min-width: 180px;
  }

  @media (max-width: 500px) {
    min-width: auto;
    width: 180px;
    height: 100px;
  }
  @media (max-width: 430px) {
    min-width: auto;
    width: 122px;
    height: 80px;
  }
  @media (max-width: 360px) {
    width: 100px;
    height: 80px;
  }
}
.posterContent_el_content_2 {
  display: flex;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 770px) {
    flex-direction: row;
  }
}
.dataNumber {
  font-family: 'Montserrat';
  font-size: 44px;
  font-size: 2.75em;
  font-weight: 300;
  text-align: left;

  @media (max-width: 1200px) {
    font-size: 32px;
    font-size: 2em;
  }
}
.dataTime {
  font-family: 'Montserrat';
  font-size: 16px;
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  padding-left: 10px;

  @media (max-width: 1200px) {
    font-size: 11px;
    font-size: 0.68em;
    padding: 0;
    padding-left: 10px;
  }
}
.name {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-left: 150px;
  position: relative;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    margin-left: 0;
    margin-right: auto;
  }

  @media (max-width: 1000px) {
    margin-right: 0;
    margin-left: auto;
  }

  @media (max-width: 770px) {
    margin-left: 0;
  }

  div:nth-child(1) {
    font-family: 'Montserrat';
    font-size: 18px;
    font-size: 1.125em;
    font-weight: 400;
    width: 448px;

    @media (max-width: 1200px) {
      font-size: 18px;
      font-size: 1.125em;
      width: 300px;
      margin-left: 0;
      margin-right: auto;
    }
    @media (max-width: 1000px) {
      font-size: 15px;
      font-size: 0.95em;
    }
    @media (max-width: 770px) {
      max-width: 200px;
      font-size: 13px;
      font-size: 0.81em;
    }
    @media (max-width: 500px) {
      font-size: 12px;
      font-size: 0.75em;
    }
  }
}
.scien {
  font-family: 'Montserrat';
  font-size: 16px;
  font-size: 1em;
  font-weight: 400;
  margin-top: 15px;
  text-transform: lowercase;
  color: #b3b3b3;

  @media (max-width: 1200px) {
    font-size: 12px;
    font-size: 0.75em;
  }
  @media (max-width: 567px) {
    font-size: 12px;
    font-size: 0.75em;
    color: #929fcc;
  }
}
.premier {
  font-family: 'Montserrat';
  font-size: 14px;
  font-size: 0.875em;
  font-weight: 400;
  margin-left: 100px;
  position: absolute;
  left: 100%;
  top: 15%;
  color: #fae88c;

  @media (max-width: 1400px) {
    left: 80%;
    top: 15%;
  }
  @media (max-width: 1000px) {
    left: 80%;
    top: 0%;
  }
  @media (max-width: 770px) {
    left: -46%;
    top: 115%;
    color: #8cabfa;
  }
  @media (max-width: 380px) {
    left: -50%;
    top: 115%;
  }
}

.restrictionBlock {
  display: flex;
  margin: auto 0;
  margin-right: 0;
  margin-left: auto;
  height: 50px;
  width: 170px;

  @media (max-width: 1000px) {
    min-width: 240px;
    width: 240px;
    display: none;
  }

  @media (max-width: 770px) {
    flex-direction: column;
    min-width: auto;
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    height: 100%;
  }
}
.buy {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-size: 0.875em;
  font-weight: 500;
  padding: 15px 55px;
  height: 55px;
  border: 0.1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;

  &:hover {
    border: 2px solid #ffffff;
    padding: 14px 54px;
  }

  @media (max-width: 1000px) {
    font-size: 13px;
    font-size: 0.81em;
    padding: 20px 25px;

    &:hover {
      border: 2px solid #8cabfa;
      padding: 19px 24px;
    }
  }
  @media (max-width: 770px) {
    margin-top: auto;
    margin-bottom: 25px;
    min-width: 150px;
  }
}
.restriction {
  font-family: 'Montserrat';
  font-size: 24px;
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 15px;
  margin-left: 0;
  margin-right: auto;

  @media (max-width: 770px) {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }
}

.antibBlockBlock {
  @include container;
}
.antiBlock {
  color: white;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 18px;
  font-size: 1.125em;
  padding-bottom: 100px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 60px;
}

.antibBlockBlock_2 {
  @include container;
}

.antiBlock_2 {
  text-transform: uppercase;
  font-size: 30px;
  font-size: 1.875em;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 80px;
}

.cover {
  width: 250px;
  height: 167px;
  object-fit: cover;
  margin: auto;
  transition: 1s;
  display: block;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 500px) {
    width: 180px;
    height: 100px;
    margin: 0;
  }
  @media (max-width: 430px) {
    width: 122px;
    height: 80px;
    margin: 0;
  }
  @media (max-width: 360px) {
    width: 100px;
    height: 80px;
    margin: 0;
  }
}
