@import '../../../assets/main.scss';

.newsLine {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
  border-bottom: 1px solid #717385;
  cursor: default;

  .newsLineContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0;

    color: inherit;

    .newsImage {
      margin-right: 30px;
      max-width: 40%;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .title {
      font-size: 12px;
      font-size: 0.75em;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 150%;
    }

    .date {
      margin-top: 0.5em;
      color: #929FCC;
      font-size: 10px;
      font-size: 0.625em;
    }
  }
}