@import '../../../assets/main.scss';

.wrapper {
  @include container;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $text-color;
}

.titleContent {
  padding-top: 200px;

  @media (max-width: 767px) {
    padding-top: 150px;
  }

  @media (max-width: 500px) {
    padding-top: 100px;
  }
  h1 {
    @include headline_first;
  }

  .titleFlex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px;

    padding-top: 80px;

    @media (max-width: 500px) {
      padding-top: 40px;
    }

    div {
      max-width: 505px;
      min-width: 300px;
      flex: 1;
    }

    p {
      font-size: 16px;
      line-height: 160%;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &.uppercase {
        text-transform: uppercase;
      }

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}
