@import '../../../assets/main.scss';

.customSelect {
  position: relative;
  max-width: 115px;

  button {
    position: relative;
    width: 100%;
    padding: 15px 56px 15px 20px;

    border: 0.5px solid #ffffff;
    background: transparent;

    text-align: left;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    font-size: 16px;
    font-size: 1em;

    @media (max-width: 500px) {
      font-size: 12px;
      font-size: 0.75em;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &::after {
      position: absolute;
      right: 15px;
      top: 30%;
      width: 16px;
      height: 9px;
      content: url('./arrow-down.svg');

      @media (max-width: 500px) {
        width: 12px;
        height: 6px;
      }
    }

    &.expanded::after {
      content: url('./arrow-up.svg');
    }
  }

  .options {
    border: 1px solid #ffffff;
    border-top: none;
    background-color: #0c0d25;

    display: none;
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;

    list-style: none;

    color: $text-color;
    font-size: 16px;
    font-size: 1em;

    @media (max-width: 500px) {
      font-size: 12px;
      font-size: 0.75em;
    }

    &.show {
      display: block;
    }

    li {
      padding: 10px 20px;
      cursor: pointer;

      &:active,
      &:focus,
      &:hover,
      &[aria-selected='true'] {
        background: #778194;
      }
    }
  }
}
