@import url("https://fonts.googleapis.com/css2?family=Mohave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");

@import "../../utils/mixins.scss";
@import "../../utils/fonts.scss";

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.swiper {
  height: 2px;
  max-width: 100%;
}

.wrapper {
  @include container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media (max-width: 576px) {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
  }

  .block1 {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 70%;

    @media (max-width: 576px) {
      width: auto;
    }

    .author {
      font-family: "Source Sans Pro", sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 40px;

      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      color: #ffffff;

      @media (max-width: 576px) {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    .title {
      font-family: "Mohave", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 62px;
      line-height: 86px;
      letter-spacing: 0.09em;
      text-transform: uppercase;

      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      color: #ffffff;
      @media (max-width: 576px) {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 20px;
      }
    }

    .premiere {
      width: 153px;
      padding-top: 9px;
      padding-bottom: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #201e32;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

      @media (max-width: 576px) {
        background-color: transparent;
        width: auto;
        box-shadow: unset;
        display: block;
        padding-top: 0;
      }

      a {
        color: #cccccc;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

        text-transform: uppercase;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        @media (max-width: 576px) {
          color: #fae88c;
          text-shadow: unset;
        }
      }
    }
  }

  .block2 {
    justify-content: center;
    display: flex;
    flex-direction: column;

    height: 188px;
    background: #15141e;
    padding: 0 15px;
    align-items: center;

    @media (max-width: 576px) {
      height: 100px;
    }

    .date {
      font-family: "Mohave";
      font-style: normal;
      font-weight: 400;
      font-size: 67px;
      line-height: 93px;
      text-align: center;
      color: #cccccc;
      @media (max-width: 576px) {
        font-size: 30px;
        line-height: normal;
      }
    }

    .month {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;

      @media (max-width: 576px) {
        font-size: 16px;
        line-height: normal;
      }
    }

    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 39px;

      text-decoration-line: underline;
      color: #ffffff;
      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  .mobileButton {
    display: block;
    max-width: 300px;
    width: 100%;
    background-color: #15141e;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
    @media (min-width: 576px) {
      display: none;
    }
    a {
      display: block;
      width: 100%;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      padding: 15px;
      text-transform: uppercase;
    }
  }
}

.bottomBlock {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media (max-width: 770px) {
    height: 150px;
    bottom: -150px;
  }

  @media (max-width: 576px) {
    height: 100px;
    bottom: -100px;
  }
}

.startCalendar {
  width: 100%;
  height: 200px;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);

  @media (max-width: 770px) {
    height: 150px;
  }
  @media (max-width: 576px) {
    height: 100px;
  }

  .overlay {
    width: 100%;
    height: 200px;
    background: #0f0d1a;
    opacity: 0.8;

    @media (max-width: 770px) {
      height: 150px;
    }
    @media (max-width: 576px) {
      height: 100px;
    }
  }
}

.blurContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

  overflow: hidden;
}

.startCalendarText {
  @include container;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 66px;

    color: white;
    @media (max-width: 576px) {
      font-size: 30px;
      line-height: normal;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    @media (max-width: 576px) {
      display: none;
    }

    .post {
      background: #8b1313;
      margin-right: 14px;
      height: 50px;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22.2662px;
        line-height: 45px;
        text-align: center;
        vertical-align: center;

        color: #ffffff;
      }
    }

    .allPost {
      width: 165px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: #acacac 2px solid;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 45px;

        color: #f1f1f1;
      }
    }
  }
}
