@import url("https://fonts.googleapis.com/css2?family=Mohave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 100%;
}

.swiper {
  height: 2px;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  margin-top: 17%;

  .block1 {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 50px;

    .author {
      font-family: "Source Sans Pro", sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 40px;

      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      color: #ffffff;
    }

    .title {
      font-family: "Mohave", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 62px;
      line-height: 86px;
      letter-spacing: 0.09em;
      text-transform: uppercase;

      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      color: #ffffff;
    }

    .premiere {
      width: 153px;
      padding-top: 9px;
      padding-bottom: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #201e32;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

      a {
        color: #cccccc;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

        text-transform: uppercase;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .block2 {
    justify-content: center;
    display: flex;
    flex-direction: column;

    height: 188px;
    background: #15141e;
    padding: 0 10px;
    margin-right: 50px;

    align-items: center;

    .date {
      font-family: "Mohave";
      font-style: normal;
      font-weight: 400;
      font-size: 67px;
      line-height: 93px;
      text-align: center;
      color: #cccccc;
    }

    .month {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }

    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 39px;

      text-decoration-line: underline;
      color: #ffffff;
    }
  }
}

.startCalendar {
  width: 100%;
  height: 250px;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);

  .overlay {
    width: 100%;
    height: 300px;
    background: #0f0d1a;
    opacity: 0.8;
  }
}

.blurContainer {
  position: absolute;
  bottom: -20px;
  right: -40px;
  left: -40px;

  height: 200px;
  overflow: hidden;
}

.startCalendarText {
  z-index: 2;
  position: relative;
  margin-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 66px;

    color: white;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .post {
      background: #8b1313;
      margin-right: 14px;
      height: 50px;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22.2662px;
        line-height: 45px;
        text-align: center;
        vertical-align: center;

        color: #ffffff;
      }
    }

    .allPost {
      width: 165px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: #acacac 2px solid;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 45px;

        color: #f1f1f1;
      }
    }
  }
}
