.mySwiper {
  height: var(--mySwiper-height, 800px) ;
  width: 100%;
  padding-bottom: 200px;
  box-sizing: content-box;
}

@media (max-width: 770px) {
  .mySwiper {
    padding-bottom: 150px;
  }
}

@media (max-width: 576px) {
  .mySwiper {
    padding-bottom: 100px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  -webkit-transform: translate3d(0, 0, 0);
}
